[2021-10-06 19:34] toomingos commented on #258
Yes, watch out for the spacing in between numbers and "-".

also please add "poorly drawn doodles" on the "i.e. regular selfie" part

[2021-10-07 04:16] pellarboss commented on #275
@madtocc response should now contain sufficient:bool
@eventang2015 please review my commit

[2021-10-07 08:38] toomingos opened #282 "Proof Of Work Box on mint NFT page"
Let's create an optional box where users can add additional info about how they created the NFT. If the user gets his NFT approved, then it should show that his PoW was verified on the admin panel.

<img width="491" alt="Screenshot 2021-10-07 at 09 36 50" src="https://user-images.githubusercontent.com/86632157/136349574-0be75838-012e-45cf-add8-409ddb5b0a3b.png">

The files the user drops on the Po

[2021-10-08 01:25] pellarboss commented on #265
@DMH-Pellar new admin button in Admin User Detail
toggle this attribute `users.commercial_verified`

[2021-10-08 03:28] pellarboss commented on #153
Yep, in "User detail" page in admin
see Total Volume
<img width="299" alt="Screen Shot 2021-10-08 at 2 27 37 pm" src="https://user-images.githubusercontent.com/24906507/136493641-3ec31fd9-4599-4372-945d-5ce5d310ff93.png">

[2021-10-08 03:42] pellarboss opened #283 "[XCUR] - Product & Collection Meta (attributes)"
An a product gets created, the meta tags should revisited

**meaning, in APP, in UI:**
[code]

users enter the type and its property, for example:
material: silver
feeling: happy

**in db**
it should be represented as an array of key and values
db.products.attributes[{material:'silver'}, {feeling:'happy'}]

**in Server**
we should examine the text so no data injection or JS injection happens,

**a

[2021-10-08 09:29] toomingos commented on #259
This is great, lets do it

[2021-10-08 09:48] toomingos commented on #282
1- Yes let's leave it as optional
2-yes
3-You mean on the mint NFT page?

[2021-10-09 03:34] eventang2015 commented on #207
now it's usd.
initial affiliate settings:
https://github.com/pellartech/operations/commit/dc7f4a6751206aa680f8ce54136c712e8cf323e9

[2021-10-09 04:47] eventang2015 commented on #256
@madtocc  for commits , the transaction includes txn:
`{
    "_id" : ObjectId("6152b3fa7b8e06f4ec4c416b"),
    "key" : "769fc7ba2997a2bb2ca24e68397e9f581db9",
    "owner" : "7ece299e3b46b06c9631372bd78385316a83",
    "sender" : "0b10d1d693bdde36d31b05743c44bfaf7d73",
    "sender_account" : "7ece299e3b46b06c9631372bd78385316a83",
    "recipient" : "MASTER",
    "recipient_account" : "0b541d1ad057a9

[2021-10-09 05:07] eventang2015 commented on #256
I have add commit transaction detail against XCUR transaction:
`transaction.details= {type: `COMMIT_${tradeSymbol}`, hash: transactionHash, internal_trans_keys: internalTransKeys }`
To be compatible with previous data, you should check transaction.details && transaction.details.hash is null or not.

[2021-10-09 05:43] eventang2015 commented on #268
@madtocc  `{{host}}/accounts/:key/download`

[2021-10-10 09:33] curateproject opened #284 "Withdraw DOT from binance issues"
A user got this error when he pasted in his curate DOT wallet address

![20211010_103241.jpg](https://user-images.githubusercontent.com/51517619/136690304-333ad971-c516-4538-a12e-823eb55635da.jpg)

Heres the translation;

the format of the pickup address is incorrect. please check the length and characters of the pick-up address and try again

[2021-10-10 10:57] pellarboss commented on #284
Which user is this? could you please provide a bit more info?

[2021-10-10 22:09] pellarboss opened #285 "[Server] - Symbol Notifications"
Please ensure in all notifications, XCUR is sent instead of XCURP

[2021-10-11 08:11] curateproject opened #286 "V4.0 UX Design Figma Link"
https://www.figma.com/file/vLAn16i0kh88ZB1kdvVNZI/Curate-v3?node-id=3167%3A4140

Hi @madtocc please use the figma link above and try to match the UX as close as you can to this (this was done by our designer, if you have any questions let me know)

[2021-10-11 09:06] curateproject opened #287 "Complete Bugcrowd Audit"
Complete bugcrowd audit (they've already been paid) so we can integrate/list our mainnet token (XCUR XC20) with kucoin

[2021-10-11 09:54] toomingos opened #288 "UX for Minting Collections"
As I understand Roy, for collections we're going to import successfully all of the data of the  ERC721 NFT. But when it comes to minting we need to figure out how the UX for creating a collection will be. For this, I will separate the onboarding of the NFT files, the attributes, and other data like Royalties/Names/Etc. My suggestion:

-Building a Creator's Hub for ETH and XCHAIN Collections on our

[2021-10-11 11:13] TheOneXi opened #289 "Add item price on P2P marketplace in USD not XCUR"
When listing an item for sale on the P2P marketplace, the price entered should be in USD not XCUR

This prevent volatile price changes on the marketplace (as XCUR price is volatile).

[2021-10-11 15:29] TheOneXi opened #290 "GLMR Token integration"
Integrate GLMR token as a form of payment on the marketplace similar to the DOT integration

[2021-10-11 15:31] curateproject opened #291 "Admin panel bug: Image compression issue"
Images uploaded through the **admin panel** are getting capped to 600px max width, which results in a pixelated image when user zooms in for both P2P and NFT mktplace

[2021-10-11 16:22] DefiHunter commented on #175
Yes this would be great please @roy

On Mon, 11 Oct 2021 at 10:54, toomingos ***@***.***> wrote:

[2021-10-11 16:23] DefiHunter commented on #203
Yea I like that Roy

On Mon, 11 Oct 2021 at 05:57, Roy Hui ***@***.***> wrote:

[2021-10-12 03:52] pellarboss commented on #287
waiting for bugcrowd to come back to us, chasing up now

[2021-10-12 03:58] pellarboss commented on #175
V4 scope is set, we can tackle this after v4, you guys can determine priorities for the next release

USDXC will work - since its on xchain

but DOT, ETH will not work

ETH has a transfer cost per send, meaning, most of the time, the 0.5%, 4% sends will not succeed since transfer fees will exceed actual payout amount

DOT will not work as well, the transfer costs are high, and there is a need for

[2021-10-12 04:03] pellarboss commented on #291
@curateproject can you please provide a URL on the product with this issue?
we would like to investigate further

[2021-10-12 05:23] DefiHunter commented on #175
Would wrapping  the funds like XCUR solve this ?

On Tue, 12 Oct 2021 at 05:58, Roy Hui ***@***.***> wrote:

[2021-10-13 08:34] toomingos opened #292 "[Feature] - Rankings Page"
Users pick between the different categories to be processed on the rankings table, users should be able to pick between:

-Creators: Account for minted and sold NFTs.
-Collections: NFTs under the same collection. (Default Category)
-Sellers: NFTs bought and sold by users.

On the page, we should see a table with the following metrics:
<img width="642" alt="Screenshot 2021-10-13 at 09 23 30" src="h

[2021-10-13 09:06] toomingos opened #293 "[Feature] - Stats Page"
Users should see a button on the Collections/NFT product/Users page, that takes them to a dedicated stats & metrics page. To keep it organized we should have the same tab system we have on the side menu of the app, where if I click on "Account", we open a range of options. The same should happen on the dedicated Stats page, with the following categories for each type of page (collection/NFT prod/U

[2021-10-14 08:50] toomingos opened #294 "XCHAIN Scanner Upgrade"
Since we're moving to a free XCHAIN minting product, we need to a value to the XCHAIN ecosystem. Upgrading our Blockchain scanner is one step towards that.

1- Add NFT product key page.
![Scanner](https://user-images.githubusercontent.com/86632157/137282913-6e1d97c9-0c30-4b34-9b5a-e343cbe8977d.jpeg)

Data that should be on it:
-Product Key
-Owner Key
-NFT prod Name
-Mint Cost: 0 XCUR (for XCHAIN m

[2021-10-14 08:51] toomingos commented on #294
Forgot to add, but as you can see on the jpeg, we should have the file loaded on the Scanner's Product page

[2021-10-14 09:40] pellarboss opened #295 "[App] - Staging Build Label"
If it is a staging build, create a label on header OR footer
so users can easily identify it is a staging build (not prod)
technical detail: recommend examining the API address, if not prod api, show label

[2021-10-14 10:07] toomingos opened #296 "NFT Launchpad"
Users stake on LPs, Curate buys the Blue Chip NFT and assigns shares to LP stakeholders. Shareholders are able to sell and buy shares of the NFT on the Curate Earn App.

[2021-10-14 20:50] curateproject opened #297 "P2P Marketplace Tweaks"
1. Add an 'Options/Variation' field when listing an item
2. Admin panel tweak: Add countries shipped to and price as well as the 'options/variation' field under product and make it editable by admin
3. Admin panel tweak: In settings under admin, ability to add warning message on the purchase P2P item page 'buyer disclaimer: international shipping times may vary'
4. ~~Add shipping price in the purc

[2021-10-15 09:07] curateproject commented on #291
Will this action by @eventang2015 mean the apps show the full size image whenever an image is uploaded via admin?

[2021-10-15 23:00] curateproject opened #298 "Update referral URL"
Facebook and other platforms are blocking the referral links as it's getting picked up as harmful/spam

Please see the text below to see what's happening

![Screenshot_20211015-235826_Twitter.jpg](https://user-images.githubusercontent.com/51517619/137562852-ffa5b5a2-6b7f-4ed5-a990-2c5adcf2db0d.jpg)

![Screenshot_20211015-235850_Twitter.jpg](https://user-images.githubusercontent.com/51517619/137562

[2021-10-16 17:32] toomingos opened #299 "Limit Orders and Offer Buttons on Products/Collections"
**Offer**

Users can make bids on a "make bid" the following products:
-Inactive NFTs
-Active NFTs, to bid higher/lower
-Active P2P Prods, to bid higher/lower

-Add a "Make an Offer" button next to "Buy Now"
-Owner can deny and accept these, we should add a "Bids" column on the My NFT/Selling app page, so users can access and process bids.

Same commission and royalties apply. Users get to make 1

[2021-10-16 17:44] toomingos opened #300 "NFT/Collection's Order Book"
Check #299

Users can access the product's (NFT and collections) order book on the stats page, where all the bids and limit orders are shown. Example:
<img width="271" alt="Screenshot 2021-10-16 at 18 36 34" src="https://user-images.githubusercontent.com/86632157/137596945-5bf467dd-addc-47ba-bdb9-6c9bf7967e8c.png">

Bids and Limit Orders above the Collection's floor price or above an NFT Market pr

[2021-10-16 17:48] toomingos opened #301 "Add Photography Tag to NFT Products"
Creators can tag their NFT with "Photography". Buyers can filter through the Marketplace with the "Photography" tag.

[2021-10-16 23:46] pellarboss opened #302 "[Server] Report Notification"
Lets make the report contain links to the reported item ie:
admin - item url, or user url

[2021-10-16 23:54] pellarboss commented on #284
Binance has a stricter polkadot formatting requirement (must be in polkadot relay chain as oppose to generic polkadot chain)

we have changed our addresses to conform, this is now in production.

DOT has a few particularities that are useful to know, please ensure the supporting staff are aware
https://github.com/pellartech/curate/wiki/DOT-currency

[2021-10-17 09:51] toomingos opened #303 "Burn NFTs Option"
Users should have the option to burn their NFTs, when looking at their owns NFTs they should be able to burn them.

Taking into account that NFTs are either gonna be ETH or XCHAIN after V4, we could charge fees for product deletions:

-ETH ERC721 Burn fees= (Burning NFT Network gas fee)*(1+(Profit margin))
-XCHAIN NFTs: Should we charge? Let's discuss this.

[2021-10-17 10:07] toomingos commented on #278
We need to revise the UX/UI for this feature, are we creating the Creator Hub/Studio Mode?

[2021-10-17 10:18] #281 closed

[2021-10-17 10:42] toomingos commented on #292
Why can't we have this on V4? I thought this was a part of the Stats & Metrics Scope

[2021-10-17 10:45] toomingos commented on #286
I thought UI/UX overhaul was in the V4 scope

[2021-10-17 16:35] toomingos opened #304 "NFT2Merch"
We should have a "Create Merch" button for when users are looking at their own created Collection page or NFT product. This way they can add Physical Goods to the P2P Market that are directly linked to the NFT/Collection.

In the "NFTs, Sold, Minted" row, we should see a "merch" tab if the user added physical goods to the NFT/Collection.

[2021-10-18 09:14] DefiHunter opened #305 "Suggested Password for Password Field"
"The password field on registration does not have input ‘name’ set ‘password’ so I don’t get password suggestions"

Popular services like Apple, Google Chrome, Safari etc. provide a service to suggest a strong password and save to keychain

Could we make the following amendments so that passwords can be suggested

[2021-10-18 09:18] DefiHunter commented on #277
Sounds good - In terms of business model -

Lets charge users 50% of the general minting cost of an NFT - For example if the cost to mint on opensea is $100 right now. Curate would charge $50

This fee should be dynamic and change as the minting cost changes for the network

[2021-10-18 11:45] curateproject opened #306 "Hide recent sales on P2P marketplace"
For now can you hide the recent sales block on the P2P marketplace?

[2021-10-18 19:19] curateproject opened #307 "Credit card deposit bug"
User details:
App ver
3.1.0b83

Device
iOS

Email
craiglistakount2013@gmail.com

Tried to buy more USDXC with a card deposit.

Received the screenshot error. It worked in the last version.

![20211018_201802.jpg](https://user-images.githubusercontent.com/51517619/137793190-5fb4eba9-5b35-4799-bd1e-a2e47a135a00.jpg)

[2021-10-19 08:04] #269 closed

[2021-10-19 08:05] #258 closed

[2021-10-19 08:09] #254 closed, assigned to TheOneXi, DefiHunter, toomingos

[2021-10-19 08:10] #253 closed

[2021-10-19 08:14] #224 closed

[2021-10-19 08:14] #284 closed

[2021-10-19 08:15] #291 closed

[2021-10-19 08:15] #285 closed, assigned to TheOneXi, DefiHunter

[2021-10-19 08:15] DefiHunter commented on #153
@pellarboss  This was suppose to be a change within the app so that users can see this info

[2021-10-19 14:35] DefiHunter opened #308 "Ability to Tag NFTs in App"
Allow Admins to place a "Caution" tag on NFTs manually

Goal - For users in the marketplace to be aware of what NFTs are of the above categories and prevent the continued sale of stolen and duplicate  work

In the marketplace there could be like a rad tag across the top of the NFT in red that has the above written so that in app users are aware

[2021-10-21 09:34] pellarboss opened #309 "[App] - Banner to Direct Deposit USDXC"
on Accounts page
under accounts, create a banner
the banner links to deposit USD using circle
the copy should read:
Deposit USD
with Visa, Mastercard
and a Card icon if possible

Attached Binance as an example
![tempFileForShare_20211021-092542](https://user-images.githubusercontent.com/24906507/138251426-23b453a2-0981-4064-8e0b-fba63a5f0420.jpg)

[2021-10-24 09:54] DefiHunter opened #310 "NFT Launchpad - Discussion"
Similar to Binance Launchpad but for NFTs

New Projects can launch their Pre - Sale NFT Collections on Curate.

New Tab called Launchpad where users can apply to launch through a google form

Curate to provide marketing support

Maybe could incorporate fractional ownership if its a single NFT

Could implement the utility model here. The more XCUR u own the more tickets you can get to stand a chanc

[2021-10-26 06:36] Catherineanne91 opened #311 "User can't buy XCUR using DOT or withdraw DOT (Remaining balance 1 DOT)"
- User has 5.79 DOT on his Curate Wallet Wants to buy XCUR worth 5 DOT but it says "internal error"
- User tries to buy XCUR worth 4.79 DOT (to leave 1 DOT balance) but app says "Amount must be greater than 5"

User email: fabianplassmann2802@gmail.com
Oct 24 2021

[2021-10-26 07:53] Catherineanne91 opened #312 "Users that received strike still locked after scheduled unlock time"
#1
itsasuan@gmail.com -
username: @cryptopunk
Reason for lock: Copyright

Notes:

- Admin unlocked account on September 17
-  schedule unlock time: September 14
- 12 items denied are all for SPAM REASONS,1  for lack of artistic skills
- his last strike before his account was locked was on August 23 2021

#2
Email: amatbamyak@gmail.com
username:amatbamyak
Reason for lock: Copyright

Notes:

- Admin

[2021-10-26 08:53] DefiHunter opened #313 "App Metrics Dashboard"
As discussed @DMH-Pellar

https://docs.google.com/spreadsheets/d/17I41UTcCOq46dgmX9Ar4hiEDudtV9ykurn7JohKf8tg/edit#gid=602591613

Turning this into a Advanced dashboard with the above ( and more metrics if u can think of)

Features
Ability to Filter Monthly or within a time range
Easy export
Real - time updates
Month on Month % Changes and metrics
Graphics and Visuals - Graphs, Pie Charts, Heat ma

[2021-10-26 10:25] toomingos opened #314 "Connect Wallet Feature (MetaMask/Wallet Connect)"
Add connect wallet button on purchase NFT or physical good page which allows users to connect their wallet via meta mask, trustwallet or wallet connect.

Users will have to pay the gas fees.

[2021-10-28 11:11] DefiHunter opened #315 "Shared Revenue/Royalty"
Ability for users to collaborate on work and share revenue and royalty with other app users

Users would have separate accounts — then the question is do we have the ability to add 2+ user names to the mint/royalty that add up to a total of 100%

[2021-10-29 08:44] Catherineanne91 opened #316 "Action History on the User Details of the Admin Panel"
Show the history of strikes (warnings and locks) give by Admin team to a user.

Current Admin Panel does not show the strike history after the strike has been removed.

[2021-11-01 13:10] TheOneXi opened #317 "Referral Programme Tweak"
Re-tweak the referral programme to offer $10 in-app credit to both referrer and referree (KYC is required).

i.e $10 of your 1st NFT when you refer a user who completes KYC (referee gets $10 off too)

[2021-11-01 13:19] DefiHunter opened #318 "Dashboard API enhancement"
Add data to Show  # of users who have made at least 1 purchase on the platform

[2021-11-01 13:24] DefiHunter opened #319 "Theta Integration - Phase 1"
Integration of THETA and TFUEL

Phase 1
Deposits and Withdrawls on X blockchain for supported Tokens within the Curate app
X Token integration for Deposits and withdrawls

[2021-11-01 13:25] DefiHunter commented on #245
Could we adjust this to enable payments in any tokens we integrate with where possible ?

All tokens except curate with come with a 7% commission fee

This would mean we would need to wrap any tokens deposited into the app

[2021-11-03 08:48] DefiHunter commented on #245
Pay in XCUR ( fees) to reduce commission to 4% - Thought

[2021-11-03 08:54] DefiHunter opened #320 "SOL Integration - Phase 1"
Integrate SOL token and blockchain

Phase 1
Deposits and Withdrawls on X blockchain for supported Tokens within the Curate app
X Token integration for Deposits and withdrawls

[2021-11-03 12:17] DefiHunter opened #321 "Additional Payment confirmation page"
When Purchasing an NFT after clicking the "Buy it Now" button users should be directed to another page to confirm the purchase

Instead of buying it immediately

[2021-11-03 12:35] toomingos opened #322 "Admin Panel upgrades"
We should do a couple of improvements on the admin panel to improve the reviewal process for admins, adding a green checkmark on the top right corner of the nft preview, a proof of work section where admins can toggle it to yes or no when the user submits an acceptable PoW.

Another thing we should add is the social media links, I wonder if we can add this automatically once we add Twitter and IG

[2021-11-03 20:53] pellarboss opened #323 "[P2P Market] - All items to be priced in USDXC"
To discuss

[2021-11-04 14:57] madtocc commented on #246
Actually there's no error. It is correct... the fee is calculated based on the current input price so the user knows exactly fee... if your item sells for 0 XCUR you will receive 0. I have updated to the default to 100 if the value is empty.

[2021-11-04 20:41] madtocc commented on #249
Unfortunately, currently it is not possible. Since we use firebase dynamic links for that and it is not available for web. What we can do is add deep linking in the web which is typing the address like: https://app.curate.style/?product=6f69841ae6a3f8d694bca1d0/?product=6f69841ae6a3f8d694bca1d0 and the web redirects to that page. This is what the Firebase plugin does on the Mobile, but we can add

[2021-11-04 21:38] pellarboss commented on #238
we have added TOTP / MFA, is this still a requirement? (TOTP is a substantial better solution)
admin can also adjust withdraw review threshold to add a manual intervention if required

[2021-11-04 21:40] pellarboss commented on #191
we have added TOTP / MFA, is this still a requirement? (TOTP is a substantial better solution)
admin can also adjust withdraw review threshold to add a manual intervention if required

we have now made email verification mandatory on registration

[2021-11-04 22:00] DefiHunter commented on #191
All good - an added level of verification may be helpful ? A lot of the
bigger guys implement this too

Thought a Roy?

On Thu, 04 Nov 2021 at 23:40, Roy Hui ***@***.***> wrote:

[2021-11-05 08:08] Catherineanne91 opened #324 "Sharing Errors in Web App"
Errors Showing:

**#1 - Cannot Share NFT's using Web App**
1. Log in to my account on web app and click MY PROFILE
2. Click my NFT
3. Click Share
4. **Expected Outcome:** Window showing option for Sharing (Twitter, instagram, messenger, copy-link, etc.)
   **Actual outcome:** Error appears : "error sharing"

![Figure 1 Error Sharing](https://user-images.githubusercontent.com/93180831/140478643-7fe

[2021-11-05 10:06] toomingos commented on #322
![image](https://user-images.githubusercontent.com/86632157/140493897-71e28f24-7e19-4138-9272-137102e3c7eb.png)

[2021-11-05 11:13] toomingos opened #325 "Notification Bug"
I've recently logged in the Curate official app account to list the staking NFTs. I logged out and logged in my personal but still got a sale notification of the Curate account.

Curate account key: 25fad84b4a2553d8b0b9b3cac762cfab424b
My account key: 0f425074c0d72164cde6f5a033fed1e142ba

[2021-11-06 08:31] Catherineanne91 opened #326 "Error showing after changing user Profile Description"
User tries to change Profile Description without changing the username

Expected Outcome: Updated Profile Description
Actual Outcome: Error showing "Sorry, Username is taken"

shertrades@gmail.com
![photo_2021-11-03_17-09-04](https://user-images.githubusercontent.com/93180831/140603389-6badfd9f-5f80-42ed-9223-4b13526bea63.jpg)

[2021-11-06 10:16] curateproject opened #327 "Final tweaks before pushing to production"
![photo_2021-11-06 10 05 23](https://user-images.githubusercontent.com/51517619/140605893-2365ec1b-5f0e-4a95-b68d-54246a1d36e7.jpeg)

'[Art' tag has brackets at the end?
Also FFF]' is what? If it's a typo please remove the FFF] tag

![photo_2021-11-06 10 05 26](https://user-images.githubusercontent.com/51517619/140605929-9510ffca-7812-44b7-bd9e-07291798ec80.jpeg)

Update text in the box to:

1. Be

[2021-11-10 19:53] madtocc commented on #326
This is currently a problem that we face with web. We are working in re-routing the app + UI upgrade for v4.1
This is the same issue as https://github.com/pellartech/curate/issues/249#issuecomment-961401632 can take a look at this comment for more details. Any type of share in app (product and profile) currently does not work for web.

[2021-11-10 19:56] madtocc commented on #324
This is currently a problem that we face with web. We are working in re-routing the app + UI upgrade for v4.1
This is the same issue as https://github.com/pellartech/curate/issues/249#issuecomment-961401632 can take a look at this comment for more details. Any type of share in app (product and profile) currently does not work for web.

[2021-11-12 05:09] Catherineanne91 opened #328 "Cropped Instagram Link in User's Profile"
Error in linking Instagram profile with Curate Profile

**User details:**
email: olegz82@gmail.com
Curate profile:  @WillyWonkaART
Instagram  link:  https://www.instagram.com/willywonka.art/

1. Click Settings> Change my Details
2. Paste Instagram link https://www.instagram.com/willywonka.art/
3. Click Update profile
**Expected Result :** Active instagram link showing on user's Curate profile
**Ac

[2021-11-12 10:01] toomingos commented on #320
For the Solana integration, we should prioritize the following steps, not too technical so I'm not sure if one is a precursor of another. But since we're partnering with NFT gaming projects we need to facilitate the following first:

-Import, Custodial, and Export of $SOL NFTs

-Mint

-Token Integration

-Phantom wallet integration.

[2021-11-12 15:55] madtocc commented on #328
regex rule wasn't including the dot in instagram username, so it was trimming. It is fixed and it will be available in the next update.

[2021-11-13 15:14] toomingos opened #329 ""Sign in with Curate" API Key Integration"
In order to give the best user experience to the projects we work with we need to provide an easy integratable API Key for users to pull all the data they need from it's users. The users sign-in on the project's platform using their Curate Account like we normally sign in using our Google/Apple account.

![Sign in with Curate](https://user-images.githubusercontent.com/86632157/141649011-ddaee6c6-e

[2021-11-14 13:39] DefiHunter opened #330 "[BUG] Weekly and Trending"
Users are gaming the weekly and trending by using auto clickers to go in and out an NFT to rack up views

My recommendation -
A single user can only contribute a maximum of 1 View to the Weekly/Trending Per a day
1 User = 1 View max per a day that counts towards weekly and trending

[2021-11-14 13:40] #194 closed

[2021-11-14 13:40] #295 closed

[2021-11-14 13:40] #301 closed

[2021-11-14 15:29] curateproject opened #331 "Admin panel tweak"
is it possible if the "users" panel is created like the "product/NFTs" panel so admins can mark the email and if you can add above  a lock button allowing admins to lock multiple accounts in one go, with the option to enter the lock reason i.e:
" your account is locked due to violating our terms of service"
![img_20211114_214113](https://user-images.githubusercontent.com/51517619/141687491-fb03073

[2021-11-14 15:31] TheOneXi opened #332 "Add 'API Access' in Settings"
Add new page under Settings called 'API Access' allowing read only access to transaction details from the scanner (x-chain):
thx hash, from, to, created, amount, symbol, type, status

![IMAGE 2021-11-14 15:29:28](https://user-images.githubusercontent.com/51517619/141687574-e9622e72-7821-4c8c-aa24-129d08df95ae.jpg)

[2021-11-15 04:57] pellarboss commented on #325
notification is reset every time you are logged in
it remembers the device (and sends directly to the device)

let us know how you would like to change the logic

[2021-11-15 05:20] pellarboss commented on #287
Testing in progress, waiting for BugCrowd

[2021-11-15 05:21] pellarboss commented on #319
now in staging

[2021-11-15 16:02] Catherineanne91 opened #333 "Identifier for Imported NFT's on Admin Panel NFT review"
Add an identifier for NFT's that are imported to distinguish them from the regular NFT's minted on Curate.

In addition to the  green checkmark on the top right corner of the nft preview, a proof of work section where admins can toggle it to yes or no when the user submits an acceptable PoW. See #322

[2021-11-16 07:28] Catherineanne91 opened #334 "Unable to load Help Content on Mobile App"
Unable to load Help Content on App:

User click 3 bars on upper left corner of app > Settings > Help & Support

Result: Unable to load help content  (See screenshot)
![Screenshot_2021-11-14-13-19-48-668_org telegram messenger (1)](https://user-images.githubusercontent.com/93180831/141939947-c5e51548-d039-4e27-9c6c-869868d086ad.jpg)

[2021-11-17 10:57] DefiHunter opened #335 "[BUG] Visual Withdrawal screen"
Withdrew 1000 XCUR - I received the correct amount minus the fee however when checking the Tx history it shows "Fee: 0 XCUR"

Would be nice if we could update this so it displays the accurate figure

Image attached below - account email - moe@curate.style

![IMG_7834](https://user-images.githubusercontent.com/72095738/142187892-f11edbc3-7bf0-42fd-8b74-5bbb163148ba.PNG)

[2021-11-19 09:31] DefiHunter opened #336 "USDXC Card Purchases text update"
Please add the following text so that limits are clear to users

$500 Daily for first time purchasers for two weeks from your first purchase

Thereafter $2 999 per a day

Would be nice if we could add a graphic that shows users how much of their daily limit is users

for example

USD - 150/500

if $150 is used

and then once it goes up

it would show
150/2999

which would reset daily

As discussed

[2021-11-19 10:25] nevrending commented on #224
Hi @curateproject , just want to let you know that the password for the `curatebot` Twitter account is still good (I somewhat managed to log in). Perhaps it's best if you change it immediately.

[2021-11-19 11:35] curateproject commented on #224
Sure will do, can you message me the password so I can login and change it?

[2021-11-19 11:37] nevrending commented on #224
@curateproject I did not change it. Should still be the same as the one you posted above.

[2021-11-20 14:51] TheOneXi opened #337 "Referral dashboard in app"
Track how many people have used your referral code to sign-up, how many qualifying purchases they made![image_from_ios-2.jpg](https://user-images.githubusercontent.com/51517619/142730796-b12930ef-e0a9-49ab-897b-1ff653ca85a7.jpg)

[2021-11-20 17:26] DefiHunter opened #338 "USDC Withdrawl fee"
As discussed

Please display fee in USDC and charge user accordingly for withdrawals
![Image from iOS](https://user-images.githubusercontent.com/72095738/142735583-82032fe9-ee45-4e76-8acd-5074b226d790.png)

[2021-11-20 23:36] curateproject opened #339 "BUG: NFT Denied shows under Collections"
The NFTs that were denied appear under Collections but not under my NFTs

App user: thepixelartnft@gmail.com
Device: iOS latest version

![photo_2021-11-20 23 34 01](https://user-images.githubusercontent.com/51517619/142743945-9acde45e-f532-46df-a2a9-d2b71ab497d1.jpeg)

[2021-11-22 11:37] toomingos commented on #304
I have set up a partnership with Prodigi, they have provided us a way to have the NFT2Merch feature where users can list/buy/sell merch items made from the NFTs. Look into their solution (https://shop.prodigi.com/products), all we need to do is set up the Curate merch shop and direct our users to their white label solution, I'm guessing we need to provide them the NFT jpeg file so then the user pi

[2021-11-22 13:35] #247 closed

[2021-11-22 13:37] curateproject commented on #6
Once #244 is complete we'd like to enable a staking feature based on the formula here:

https://docs.google.com/spreadsheets/u/2/d/1NK7pGUJ7tNJ2fuyvWZvTrKtIdVZIQynFUqGj5FHHTIo/edit?usp=sharing

Staking requirements/rules:
100 day lock up / hard stake
Rewards distributed at the end in XCUR XC20
Staking page show's what tier you are from #244
XCUR wallet also shows in green text what tier you are #2

[2021-11-22 13:43] DefiHunter commented on #6
Yes
The formula in the Curate app is Correct

100 Day lock up period
1.5mil xcur hard cap
5% base APY

On Mon, 22 Nov 2021 at 15:37, curateproject ***@***.***>
wrote:

--

Moe Carrim

CFO | Curate
www.curate.style

[2021-11-22 23:57] toomingos opened #340 "Collection Page Improvements"
-Remove attributes from the collection page
-Move Profile picture
-Add share button
-Move Attributes section and replace them for Volume traded, number of items, number of owners, and floor price

![image](https://user-images.githubusercontent.com/86632157/142952479-bddfc503-4381-4d67-a73a-8a9ff3fb2966.png)

[2021-11-22 23:58] toomingos commented on #340
Social media icons should be the same as the ones found on profile pages

[2021-11-23 07:43] DefiHunter opened #341 "3FA additional level of security"
can we enable 3FA withdrawals in light of onboarding many funds into the app for staking?
It would be as follows:
Code 1: app pin
Code 2: Authy code
Code 3: code sent to email

[2021-11-24 02:21] Catherineanne91 opened #342 "Include Transactions from June on the Total Volume Traded on User's Profile"
Include Transactions from June to reflect on the Total Volume Traded on User's Profile (as seen on attached image). The app currently shows the sales volume from September.

![Screenshot_20211124-101749](https://user-images.githubusercontent.com/93180831/143159555-f084ce4a-ebb1-4e2d-b937-1b19535768e7.jpg)

[2021-11-24 12:25] DefiHunter opened #343 "Dashboard API update"
Please add "Fees earned from Parallel minting on ETH as a column "

[2021-11-24 13:55] curateproject opened #344 "Ability to Delete Collections in Admin"
Ability to delete collections from the admin panel.

NFTs have attributes attached to them in collection so need to work out a way how theses can remain if a collection gets deleted etc.. (maybe just hide collection from marketplace if wanting to delete?)

[2021-11-25 22:37] Catherineanne91 opened #345 ""Internal Error" when submitting more than 1 POW"
1.MY NFT > MINT NFT
2. Adding Two files Proof of Work shows "Internal Error"

![Screenshot_20211126-060214](https://user-images.githubusercontent.com/93180831/143505173-a34e7674-754d-4d18-8d25-d61cbe4055cf.jpg)

3. I tried Removing one P.O.W and the submission is successful

Note: POW submitted are not thesame files.

![Screenshot_20211126-060232](https://user-images.githubusercontent.com/93180831

[2021-11-25 22:43] pellarboss commented on #6
questions

- does the users receive a daily payout?
- or a payout at the end of the term?
- does the daily payout compound?
- if payout is at the end of the term, does the payout consider compounding?
- if APY changes, does it change existing stake (from that day onwards) or only future staking?
- does the stake boost lock as well? (ie, you can't transfer or sell)
- does the stake boost need to be

[2021-11-25 22:46] Catherineanne91 opened #346 "Adjust Meta Information to the Exported NFT's from Curate"
Add meta information to the exported NFT from Curate to Opensea (ie the original artist, description , etc.).

Clicking the "creator" on Opensea will just take you to: 0x16a9b9cb3b65eef4ef28f3920b3453a216704840
where it shows all other creators from Curate whose works are exported: [https://opensea.io/0x16a9b9cb3b65eef4ef28f3920b3453a216704840?tab=created](url)

Product Link on Open sea: [https://

[2021-11-26 05:35] pellarboss commented on #320
For stage one, we are doing:
- Deposit / Withdraw SOL - like DOT
- Buy XCUR with SOL - like DOT

[2021-11-26 05:37] pellarboss commented on #329
instructions provided

[2021-11-26 05:37] pellarboss commented on #333
clearly identify imported NFTs

[2021-11-26 05:40] pellarboss commented on #286
Please provide UI UX when ready

[2021-11-26 05:43] pellarboss commented on #330
add some logic (potentially using redis)

if userkey_viewed (cache hit), ignore the request
if no cache, create cache, expire cache in 3 hours

[2021-11-26 05:48] pellarboss commented on #342
@eventang2015 please script & calculate previous

[2021-11-26 10:39] curateproject commented on #6
does the stake boost lock as well? (ie, you can't transfer or sell)

**Yes the stake boosting NFT locks when you hard stake for 100 days**

does the stake boost need to be in your account for a minimum period of time

**No**

@DefiHunter can you answer the rest of the questions please

[2021-11-26 10:45] DefiHunter commented on #6
- does the users receive a daily payout?

*User to receive daily payouts*

   - or a payout at the end of the term?
   - does the daily payout compound?

*Yes the daily payout compounds - Could we give the user the option to
decide whether to auto compound or to receive it into their wallet ? *

   - if payout is at the end of the term, does the payout consider
   compounding?

*YES*

   - if APY

[2021-11-26 11:30] toomingos commented on #303
@pellarboss Let's add this after we get the integrations with Solana and BSC are done, so they don't send emails to the admins and pay for the wasted mint costs

[2021-11-26 13:29] madtocc commented on #326
Did you receive any other reports regarding this? Maybe it is fixed now. I'm not able to reproduce. @Catherineanne91, if you change your profile description do you receive this error message?

[2021-11-26 16:50] toomingos opened #347 "Buy XCUR banner"
Add Buy XCUR banner with the same style as the deposit USDXC banner, since the path from USDXC to XCUR isnt as clear  for newcomers is not as clear as it should be, sicne they have to exit the page and find the buy XCUR one
![ticket](https://user-images.githubusercontent.com/86632157/143611757-1b7496e6-0ad9-4f0f-b0fd-2c62753cf515.png)
r

[2021-11-26 16:52] toomingos commented on #347
Please find another icon for the banner, here's another suggestion for the layout
![1620 Stats Hopper @nft_hopper NFTs Wallet 24 0x z4 Followers Following 129 1,9K ALL NFTS SOLD MINTED 50K 12K $265K $107 4K #26 HOPPER - SHAMAN #37 HOPPER - CRUSADER 94K 10K 17 5K $88K 100K $550K #76 HOPPER - GOOGLY](https://user-images.githubusercontent.com/86632157/143612077-6e1d462f-8297-48e1-b46d-e4265ea05230.pn

[2021-11-26 17:03] toomingos opened #348 "Buy Product button for users with no funds"
Buy Product button for users with no funds should link users to the wallet page after they click it, and a pop up should show saying something along the lines of:

Your account's balance is empty, please deposit funds via an external wallet or deposit USDXC using your card.

[2021-11-26 22:36] madtocc opened #349 "[Jumio] Fake IDs"
Jumio replied to our report with the following:

Hi Marco,

Thanks for your kind patience with this issue.

We have received the response from the team and below are the observations:

b1a4b75e-c5c2-493a-a16c-7ed2be9ea236
bfa6ba9b-2db7-46da-bf2e-f5db603412ca
The above documents were correctly processed as approved verified as there is no visible manipulation was found in these scans.
----

35f7471

[2021-11-26 23:20] Catherineanne91 opened #350 "Make Proof of Work Viewable for Admins without downloading"
Proof of Work attached by some users will be viewable without the need to download them. They can appear like the normal NFT's for review where it shows preview of the JPEG and MP4's.

[2021-11-27 08:01] DefiHunter commented on #321
Yes that’s perfect

On Fri, 26 Nov 2021 at 15:10, Marco Tocchetto ***@***.***>
wrote:

--

Moe Carrim

CFO | Curate
www.curate.style

[2021-11-27 12:09] Catherineanne91 commented on #326
Hi. I believe this is fixed. Was able to successfully update my profile now. Thank you!

[2021-11-27 22:17] pellarboss commented on #6
I did some maths, please approve

https://docs.google.com/spreadsheets/d/15djZa0mwzRSGmhit97gZhGZ-7XutGVS-YkqfYN8BODI/edit?usp=sharing

Decisions:
* Daily Compound
* Interest payout stays locked (otherwise it wont compound, it will just be linear)
* In order to meet deadline (end of dec), we will need to either compound or linear (not both)
* Stake Boost NFT is locked for the duration
* APY is cha

[2021-11-29 09:57] DefiHunter commented on #6
One Change - If User B stakes on Day 11 then he will receive 5% till day 100

Everything all looks fine and calculation is fine

[2021-11-29 13:06] madtocc commented on #326
Thank you for the feedback :)

[2021-11-29 13:06] #326 closed

[2021-11-29 19:00] madtocc opened #351 "[APP] Add re-send verification code"
Add a button to resend the verification (with a  60s timeout ) when registering.

[2021-11-30 13:59] madtocc opened #352 "[APP] Warn user before depositing DOT"
Auto prompts a modal when the user goes to "Deposit DOT", due to the "weird" DOT requirements.
It would be great if you guys could provide the text you'd like to show. Otherwise, let us know, so we can provide a technical text.

[2021-12-01 05:18] eventang2015 commented on #339
hotfixed.

[2021-12-01 08:01] Catherineanne91 opened #353 "Allow Collection Description to have space between paragraphs"
An error when user tries to add description for a collection: He wants to create spaces between paragraphs but instead, it would show up as seen on the picture.

Click 3 bars on upper left corner > my NFT > Collections > Adding description to collection
![Screenshot_20211117_143237_app wallet curate (1)](https://user-images.githubusercontent.com/93180831/144194920-28167e0e-1902-4c70-8dcd-48b6fa969

[2021-12-01 08:04] pellarboss opened #354 "Products from Imported Collection - more info"
When the product is imported, show the original creator eth address and the original contract address, both linking to etherscan

[2021-12-01 08:30] pellarboss opened #355 "API Documentation for Whitelabel marketplaces"
As per conversation Dec 1st with Moe:
- we should write more documentation for standard APIs
- Curate should streamline all features / operations via a single contact point so we can prioritise linearly (not many in parallel)

[2021-12-01 09:01] DefiHunter opened #356 "White Label Docs - Curate Marketplace"
As discussed Roy,

Self - Service documentation to implement a white label solution of the Curate Marketplace

[2021-12-01 09:02] #191 closed

[2021-12-01 09:02] #238 closed

[2021-12-01 09:03] #11 closed

[2021-12-01 09:03] #236 closed

[2021-12-01 09:03] #14 closed

[2021-12-01 09:03] #153 closed

[2021-12-01 09:03] #188 closed

[2021-12-01 09:03] #203 closed

[2021-12-01 09:03] #246 closed

[2021-12-01 09:03] #260 closed

[2021-12-01 09:03] #273 closed

[2021-12-01 09:03] #276 closed

[2021-12-01 09:03] #277 closed

[2021-12-01 09:03] #278 closed

[2021-12-01 09:03] #279 closed

[2021-12-01 09:03] #302 closed

[2021-12-01 09:03] #306 closed

[2021-12-01 09:03] #309 closed

[2021-12-01 09:03] #311 closed

[2021-12-01 09:03] #324 closed

[2021-12-01 09:03] #327 closed

[2021-12-01 09:03] #328 closed

[2021-12-02 10:57] curateproject commented on #286
Figma link:

https://www.figma.com/file/7K8McIi4ZqToPLn2f1pLEF/Curate-v4?node-id=3167%3A4140

[2021-12-02 13:54] toomingos opened #357 "Mint NFT UI/UX Change (2 step minting)"
I've redone the minting process and sent this to our front-end designer so he can add it to the Figma file as well.

The main idea is to streamline minting to anyone, fon the first page we load the gallery of the user and he picks the content of the NFT, while on the second he inputs the main details, clicking on the advanced tab to access all the other options.

On the advanced tab let's tweak a

[2021-12-02 13:56] toomingos commented on #357
[2 Step minting.pdf](https://github.com/pellartech/curate/files/7642455/2.Step.minting.pdf)
Here's a pdf file as an example of what we're aiming for

[2021-12-02 19:45] madtocc commented on #348
Added an alert box with options that can redirect the user.
![b](https://user-images.githubusercontent.com/12486417/144491960-f90dd278-7b90-4885-99f1-956d3a4247fd.jpeg)

[2021-12-02 19:46] madtocc commented on #347
![a](https://user-images.githubusercontent.com/12486417/144492205-1f8dcc56-6a24-40b0-9069-938ec5c5c6a4.jpeg)

[2021-12-03 21:18] madtocc commented on #336
@DefiHunter, let me know if this pleases you.

https://user-images.githubusercontent.com/12486417/144674006-afa745d1-3274-4ce3-a718-f5dd64171cba.mp4

[2021-12-03 21:54] DefiHunter commented on #336
This is Beautiful

Great stuff Marco !

On Fri, 03 Dec 2021 at 23:19, Marco Tocchetto ***@***.***>
wrote:

--

Moe Carrim

CFO | Curate
www.curate.style

[2021-12-06 20:01] DefiHunter opened #358 "NFT Direct Card Purchases"
If a User has "insufficient funds" or decides to purchase an NFt directly with card we should enable that

Work flow
user able to supplement/complement existing wallet balance up to a value of $3000

If NFT is $3000 or less, he can pay directly with card
If its more, an existing wallet balance would be needed

If a user has insufficient funds for an NFT - He will be redirected to purchase with a c

[2021-12-06 20:01] #329 closed

[2021-12-06 20:02] DefiHunter commented on #141
Has this been completed ?

[2021-12-09 12:58] DefiHunter opened #359 "Export NFT Page Tweak"
When trying to export an NFT - Display estimated Lazy Mint cost  Export cost
If user approves lock funds and export NFT

Currently it just says insufficient funds
![Image from iOS](https://user-images.githubusercontent.com/72095738/145400620-fe26dab6-f4ae-417a-bbdb-6b11b4b948c9.png)

[2021-12-10 10:15] Catherineanne91 opened #360 "Improve Withdrawal TXN Detail so that it shows Txn Hash on etherscan/BSC"
Improve TXN Detail so opening the withdrawal shows Tx ID on etherscan/BSC

Current TXN Detail: Only Xchain Hash

For Improvement:  Show ID as Xchain HASH and hash be the etherscan or BSC hash

![Image from iOS](https://user-images.githubusercontent.com/93180831/145557819-87674791-2972-4252-afaa-de542186cf87.png)

[2021-12-13 06:24] Catherineanne91 opened #361 "Increase Limit for Featured NFT Collections"
Increase Limit for Featured NFT Collections

Current: 5

Increase to: 10

[2021-12-13 06:30] Catherineanne91 opened #362 "Index Data for user sales to get sales volume percentile"
Index Data for user sales  to get Data on:
Sales Volume Percentile

(Basis/Criteria required for giving verified Badge to Curate Sellers, ie: seller must be in the 95th percentile with respect to sales volume)

[2021-12-19 17:56] toomingos opened #363 "Counter Exploit Measures"
We have been dealing with a lot of bot accounts that verify the email and like the NFTs so they get in the Weekly and Trending section of the app, in order to stay ahead of the curve in the long run we need to only account for likes from users who've had completed, fall into the category or done the following actions:

-KYC
-Bought an NFT Before
-Approved Proof of Work NFT submission
-Has a gmail.

[2021-12-20 07:40] eventang2015 commented on #318
added on admin dashboard - Users Purchased

[2021-12-20 20:26] toomingos opened #364 "Download NFT button for Owners"
The owners of an NFT product should be able to download the file so they can have it as their PFP on Twitter, for example. Gonna speak to Alexey about this so we can have it on our new UI.

Let's add a download feature on the "My NFT page"

[2021-12-21 10:52] DefiHunter opened #365 "[BUG] Master Wallet Bep -20"
Users trying to withdraw XCUR BEP-20 . despite having enough funds user withdrawals are getting notified insufficient funds

Below are 2 users with the issue

@Moe Carrim same case with
hanthienduc.96@gmail.com trying to withdraw 3087 XCUR (Master account has insufficient funds)
I asked him to try 1k but still the same error message

''Dear Curate,
in my wallet (032afe1a63154fde13a83337b39b5a1c38a

[2021-12-23 09:19] DefiHunter opened #366 "Mint Page"
parallel mint on eth to be replaced with a drop down menu

User can chose - ETH, X - Chain, Solana

If X - Chain minting is free
If ETH,SOL estimated minting cost shown in XCUR and user charged accordingly

[2021-12-24 01:33] Catherineanne91 opened #367 "Cant Check Status of Shipment in P2P marketplace"
![admin console](https://user-images.githubusercontent.com/93180831/147305010-7f207cea-17ce-4b97-aba6-4ce3e9db637d.jpg)

Issue: **Cant Check Status of Shipment**

Admin Panel > Orders

Clicking the Order keys (Left most column) would just keep "loading"

[2021-12-30 18:15] curateproject opened #368 "Password reset not working"
Confirmation button not working, tested on iOS and Android

https://user-images.githubusercontent.com/51517619/147777733-cb508470-635b-495b-92d5-9d47fc57d0c4.MP4

[2021-12-31 12:58] curateproject opened #369 "Import NFT issue"
Previously a user was experiencing issues with exporting NFTs so I was testing and I did exported my stake boosting nft.

I imported it back but it's showing timeout

Help please

https://etherscan.io/tx/0xb5a7f843b15feba9511a60b8c0683c3ebf81e2cfa06bbb7965cd6dd711e84671

User: gadithomason1@gmail.com

Device: iOS v15.1

Latest version (v5)

[2021-12-31 13:31] curateproject opened #370 "Share button for NFTs under profile not working"
When selecting an NFT under a users profile then clicking the share button, it doesn't work

[2022-01-03 23:32] curateproject opened #371 "Search + Filters Option"
Add a search pop-up with filter options (as we had on the previous version) for the NFT / P2P marketplace page

As currently the search bar is only working on the 'All NFTs' tab and users are thinking it's a bug for the other tabs (where the search button doesn't work)

[2022-01-04 11:11] curateproject opened #372 "NFT stake boost not recognised"
Email nilakshan91@gmail.com
Device android 11
NFT type platinum
Version: 5.0.1 (latest)

This user is not getting his stake boosting nft recognised, please can you investigate

[2022-01-04 11:13] pellarboss commented on #372
New build is in review, it should fix this display issue.

Stake is correctly applied thou (boost is applied)

Please update to the latest version when it is live (113)

[2022-01-04 11:16] curateproject opened #373 "Display total staked tokens on public and admin dashboard"
Display new metric on both dashboards

'Total XCUR staked'

[2022-01-04 11:21] madtocc commented on #372
Checked and the user does not own any boosted NFT.
Can you verify if he does?
https://admin.curate.style/products/user/00c22a1c6e9c9116186e0ce978ee3eab6d6e/nft

[2022-01-04 12:55] curateproject opened #374 "Staking page tweaks"
1. Display staking rewards on staking page which get updated in real time (or daily if that's easier)

2. Display the stake boost multiple applied if a stake boosting NFT has been used for staking (currently the log on the staking page only shows the APY without any boost applied)

3. On the 'amount' field (when entering XCUR amount for the staking page) can you add a '50%' '75%' and 'Max' option

[2022-01-04 13:07] curateproject opened #375 "ALGO Token Integration"
~1. Add ALGO import/export NFT feature~
~2. Add ALGO mint NFT feature~
3. Add ALGO token integration

[2022-01-04 13:17] curateproject commented on #297
Moved to January milestone, if the rest of these tweaks can be done for this month please

[2022-01-04 13:28] curateproject opened #376 "Rename 'XCURP' to 'XCUR' on all notifications"
Can you rename XCURP to XCUR on the in-app notifications as shown below and anywhere else XCURP is displayed

![XCURP](https://user-images.githubusercontent.com/51517619/148066000-bc2d378e-ce66-4804-8db9-080d0c46490f.jpg)

[2022-01-04 13:56] curateproject opened #377 "Guest view for the app"
Ability for guests to view app without having to signup/login 1st

[2022-01-04 13:59] curateproject opened #378 "Desktop UX enhancement"
Update the desktop UX with the figma link below

[2022-01-04 21:39] curateproject opened #379 "Stake more than once?"
Would it be possible for existing stakers to deposit more XCUR into the app to stake (as a new separate stake) and shown on the staking page log?

The cut off for staking will be 31st January but if you can make this configurable in the admin panel (i.e set the date for no more users to start new staking sessions) = 31st March is when all staking should have ended

[2022-01-04 23:01] curateproject opened #380 "NFT share button not working"
Share NFT button not working on iOS, please can you fix

[2022-01-05 04:57] pellarboss commented on #379
yes, you can create more than one stake
you can not modify stake / since that record is permanent
but your boost can only be used once (as per requirements)

[2022-01-05 07:11] pellarboss commented on #365
When BEP XCUR Master doesnt have enough, it will show insufficient funds
Please let us know if this is still persisting

The buy ETH txn is an ETH network issue, we have set the record back to pending, and it is now fully complete

[2022-01-05 07:18] pellarboss commented on #366
SOL parallel mint is not in this release yet

We can certainly do parallel mint on ETH and X-Chain as a dropdown

[2022-01-05 07:21] pellarboss commented on #357
@madtocc please look at what you can implement
I presume this workflow creates multiple NFTs

[2022-01-05 08:28] DefiHunter commented on #366
Yes that works

On Wed, 05 Jan 2022 at 09:18, Roy Hui ***@***.***> wrote:

--

Moe Carrim

CFO | Curate
www.curate.style

[2022-01-05 08:48] DefiHunter opened #381 "XP network - whitelabel solution"
White label XP network bridge for curate and place @ bridge.curate.style

Also to find a a way how to offer this feature in app, user today all fees in XCUR

Curate to take a 1% service  fee in Xcur  on bridged tokens and NFTs (1% of the value of the transfer)

[2022-01-05 08:49] #298 closed

[2022-01-05 08:49] #312 closed

[2022-01-05 08:49] #316 closed

[2022-01-05 08:49] #318 closed

[2022-01-05 08:49] #319 closed

[2022-01-05 08:49] #321 closed

[2022-01-05 08:49] #322 closed

[2022-01-05 08:49] #325 closed

[2022-01-05 08:49] #331 closed

[2022-01-05 08:49] #333 closed

[2022-01-05 08:49] #334 closed

[2022-01-05 08:49] #336 closed

[2022-01-05 08:49] #338 closed

[2022-01-05 08:49] #339 closed

[2022-01-05 08:49] #342 closed

[2022-01-05 08:49] #344 closed

[2022-01-05 08:49] #345 closed

[2022-01-05 08:49] #346 closed

[2022-01-05 08:49] #347 closed

[2022-01-05 08:49] #348 closed

[2022-01-05 08:49] #349 closed

[2022-01-05 08:49] #350 closed

[2022-01-05 08:49] #354 closed

[2022-01-05 08:50] #6 closed

[2022-01-05 08:50] #274 closed

[2022-01-05 08:50] #286 closed

[2022-01-05 08:50] #307 closed

[2022-01-05 08:50] #320 closed

[2022-01-05 08:50] #365 closed

[2022-01-05 08:50] #372 closed

[2022-01-05 09:03] pellarboss commented on #377
proposed workflow changes

first time user, show marketplace, ability to filter etc
go in to product detail, instead of buy, show "Please Register or Sign In to continue"
the (+) button in marketplace, link to Login Page (but can back in to previous page, pop and push)

go to account, my nfts, settings (the other 3 icons at the bottom0, show "Please Register or Sign In to continue"

[2022-01-05 13:39] curateproject opened #382 "Add message on desktop app 'Staking live on mobile app'"
Add a message banner to inform desktop users that staking is available on mobile app only

[2022-01-05 16:16] toomingos opened #383 "12 Days of Xmas winners"
Please transfer the NFTs to these accounts:

Day six
prici.bambero@hotmail.fr
User name @Prici
https://admin.curate.style/product/0e461e4019a6c8b57462a0a7/edit
Day Seven
nisab1104200@gmail.com
@Nisabmoideen
https://admin.curate.style/product/5200802f49522bad5936961d/edit
Day eight
george.aldous@hotmail.com
Username : MaximumBean
https://admin.curate.style/product/ddd2e29dcad48893f3d04fb1/edit
Day

[2022-01-06 04:04] pellarboss commented on #352
"Please note that the Polkadot network requires a minimum balance of 1 DOT, please ensure you deposit more than 1 DOT in to the account, if less than 1 DOT is received, the funds are automatically lost"

[2022-01-06 04:06] pellarboss commented on #364
investigate the best UX to do this? Maybe Long Press?
see how others have solved this issue?

[2022-01-06 04:08] pellarboss commented on #353
See how new lines are parsed and returned, try to replace it with something else?
Let us know if we can do anything on the server side (replace characters like \n with something else)

[2022-01-06 04:11] pellarboss commented on #340
@eventang2015 please return these info, please info Marco the payload for UI implementation

[2022-01-06 04:12] pellarboss commented on #351
@eventang2015 please advise which API

[2022-01-06 04:13] pellarboss commented on #369
exported NFTs will need to be manually imported again, we will investigate this first

[2022-01-06 04:18] pellarboss commented on #308
@eventang2015 please add tag for Profile & Item
Please inform Marco once that is done and the new attribute

@madtocc please display a message if the product is Tagged
horizontal red bar, with an warning icon on left, showing, "⚠️ Please take caution trading with this seller"

[2022-01-06 04:24] pellarboss commented on #378
require designs, see post on Slack

please help us with obtaining figma

[2022-01-06 04:28] pellarboss commented on #341
lets do Code 1 and Code 2 for now?
we can implement a third code later when we are a bit less busy

[2022-01-06 04:30] pellarboss commented on #360
@eventang2015 please document how to obtain this data for the related txns

[2022-01-06 07:09] eventang2015 commented on #367
@Catherineanne91 it should be fixed. role issue.

[2022-01-06 08:17] eventang2015 commented on #373
implemented in staging

[2022-01-06 09:04] eventang2015 commented on #383
update all these produts ? is ok to update owner ?

[2022-01-06 09:04] eventang2015 commented on #369
I rest the product to approved. will implement logic in code.

[2022-01-06 09:54] DefiHunter commented on #341
Sounds good

On Thu, 06 Jan 2022 at 06:29, Roy Hui ***@***.***> wrote:

--

Moe Carrim

CFO | Curate
www.curate.style

[2022-01-06 10:28] curateproject commented on #383
Yes update the owner for all these please, owners are different for each nft

[2022-01-06 12:41] madtocc commented on #361
The app is not sending a limit.

[2022-01-06 12:49] curateproject commented on #373
great happy to push forward to production

[2022-01-06 13:08] curateproject commented on #378
Sure, will get Alex to design a figma file for desktop

[2022-01-06 13:21] curateproject commented on #364
Long press would be fine, or maybe an inbox/down arrow icon indicating to download

[2022-01-06 13:33] curateproject opened #384 "Can you cancel this users staked tokens"
user: leeju09@naver.com

Can you cancel this users staked tokens (11.3k XCUR is currently staked) and move it back into his wallet as unstaked i.e like normal.

As he wants to stake again with more tokens which he just deposited.

Thanks!

[2022-01-06 13:41] madtocc commented on #366
Are you guys talking about the current app?
This was implemented a while ago, I have followed the Figma. Please check the app.
![Simulator Screen Shot - iPhone 13 - 2022-01-06 at 10 39 17](https://user-images.githubusercontent.com/12486417/148391474-bc007b3d-1fd8-4ae3-a158-5ca9cb38f2ee.png)
![Simulator Screen Shot - iPhone 13 - 2022-01-06 at 10 39 20](https://user-images.githubusercontent.com/1248

[2022-01-06 13:48] madtocc commented on #364
This is already implemented in the current app.
![image](https://user-images.githubusercontent.com/12486417/148392502-597dad85-54f3-4f13-96d5-e20b0866146a.png)
![image](https://user-images.githubusercontent.com/12486417/148392519-026cae3b-4599-4f06-826f-0239eaa26801.png)

[2022-01-06 13:52] madtocc commented on #359
![image](https://user-images.githubusercontent.com/12486417/148393132-4b7d0996-6446-47e8-a070-2c4a02035286.png)

[2022-01-06 13:55] madtocc commented on #380
I'm able to share and open in both Android and iOS.
Please provide a video of the problem and the app version if you have this issue.

[2022-01-06 14:08] madtocc commented on #370
Let's follow on #380 since it seems a duplicated issue.

[2022-01-06 17:18] eventang2015 commented on #383
6 users and 7 products ? missing one ?

[2022-01-07 07:33] eventang2015 commented on #384
I see he has 2 stakes
1st one:
` "amount" : 11289",
    "period" : 60,
    "boost" : 3,
    "apy" : 10,`
  2nd one:
  `"amount" : 50,
    "period" : 60,
    "boost" : 1,
    "apy" : 5,`

[2022-01-09 16:32] toomingos commented on #363
We have been dealing with a lot of bot accounts that verify the email and like the NFTs so they get in the Weekly and Trending section of the app, in order to stay ahead of the curve in the long run we need to only account for likes from users who've had completed, fall into the category or do the following actions:

-KYC
-Bought an NFT Before
-Approved Proof of Work NFT submission
-Has a gmail.co

[2022-01-09 16:41] toomingos opened #385 "Fraud prevention/Admin tools"
Caution sign: Ticket #308

Allow Admins to place a "Caution" tag on NFTs manually.
Goal - For users in the marketplace to be aware of what NFTs are of the above categories and prevent the continued sale of stolen and duplicate work. In the marketplace, there could be like a rad tag across the top of the NFT in red that has the above written so that in-app users are aware

Counter Exploit Measures:

[2022-01-10 00:16] curateproject commented on #385
@pellarboss please action the above for this month, as I myself was a victim to buying a stolen NFT on curate

[2022-01-10 00:35] curateproject opened #386 "3 minor tweaks/bugs to fix before next build"
1. Allow search by 'category', 'collections' or 'artists' i.e allow this option on the filter pop-up

2. When using the referral code. After going back to the app, it shuts down - can you investigate?

3. Add button on 'insufficient funds' page -> 'deposit funds' and take user to wallet page

[2022-01-10 00:36] TheOneXi opened #387 "Update Desktop UX"
Alex (our designer is preparing a figma file to follow)

1. When showing the NFTs on desktop, can you add trailing lazy load so it only loads a small number of NFTs on each page i.e as the user scrolls down it loads the next set of NFTs

[2022-01-10 00:44] TheOneXi opened #388 "Decentralised Mint Page"
Create a decentralised mint page allowing anyone to mint NFTs (1 of 1s or collections) across various chains (starting with ERC721s, 115s and SOL NFts on 1st launch) with a 75% reduction in gas fees to mint and allow users to pay using ETH or SOL i.e pay with ETH if minting on ETH and SOL if minting on SOL

The 25% will go to curates cold storage wallet, % to be written in the contract protocol

[2022-01-11 02:54] eventang2015 commented on #373
it's now in production.

[2022-01-11 03:07] eventang2015 commented on #374
get stakes - `{{host}}/accounts/:key/stake`
`{
    "total_count": 4,
    "total_pages": 1,
    "has_next_page": false,
    "current_page": 1,
    "item_count": 4,
    "items": [
        {
            "key": "14779a4e018bd308",
            "user_key": "a03c707e7e993313b7656f60957972e0648a",
            "account_key": "239bc03f1957a1d6a3c2419353ffd62d8b32",
            "symbol": "XCURP",

[2022-01-11 03:32] eventang2015 commented on #379
can disable stake on https://admin.curate.style/settings

[2022-01-11 03:43] eventang2015 commented on #330
ignore within 3 hours

[2022-01-11 03:48] eventang2015 commented on #384
canceled his stakes

[2022-01-11 03:56] eventang2015 commented on #361
`/collections/featured/list?limit=10`

[2022-01-11 04:01] eventang2015 commented on #369
it's now fixed in staging, will merge to production

[2022-01-11 07:44] eventang2015 commented on #360
add new field - external_txn in transaction, it's get from withdraw logs.
`            {
                "key": "3b8210802b5128dbadbb2d91b6f2df380c6823502b7fe564a9d62b48504ee84a",
                "owner": "035360160265a3e88d80a65205da27155089aa86acbb8874057cefddced7a81767",
                "created": "2021-09-24T09:34:06.844Z",
                "sender_account": "035360160265a3e88d80a65205da2715508

[2022-01-11 07:52] eventang2015 commented on #351
after 1st  code request, user can request code in 60s
`Duplicate request, please try again in 1 minute(s).`

send count <=5, interval = 1 minute
send count > 5, interval = 1hour

[2022-01-12 01:36] #384 closed

[2022-01-12 01:38] curateproject commented on #380
When I open up a link it takes me the web app asking me to login

The web app is not really an issue except as we don't have guest view I'm stuck at the login page

It would be great if this is resolved with guest view or the link auto opens up the mobile app

[2022-01-12 01:39] curateproject commented on #377
Yes please just like that

[2022-01-12 01:40] curateproject commented on #373
I don't see it on the public dashboard @eventang2015 ?

https://dashboard.curate.style/

[2022-01-12 02:14] curateproject opened #389 "Show different chain NFTs on the marketplace"
Add chain in Search filter with options ETH, Sol and Algo and All

All is default view of marketplace displaying all chain NFTs but add something to differentiate other chain NFTs to each other (i.e different colour text if NFT name of icon of chain on the thumbnail etc).

Whatever looks good in your view

[2022-01-12 07:13] eventang2015 commented on #141
implemented code in staging, needs to run script .

[2022-01-12 12:35] curateproject commented on #363
Ensure algorithm is weighted for the above:

-KYC
-Bought an NFT Before
-Approved Proof of Work NFT submission
-Has a gmail.com, hotmail.com, yahoo.com, outlook.com, icould.com
-iOS User
-Verified Seller Badge

[2022-01-13 00:01] curateproject opened #390 "NFT export to curate wallet issue"
App user: Bang95838@gmail.com
NFT name: Curate premium t shirt 9 of 10
App version: 5.0.1
Device: iOS iPhone 11
Receivers curate wallet address: 0x4dD5fA63a013875B6686646931c0829Ff2Ce4DDC

The user tried to transfer a curate NFT to another curate user (curate wallet address) but it didn’t arrive.

Can you please help him complete the transfer if it's possible or send it back to him?

 Transaction

[2022-01-13 02:37] pellarboss commented on #362
@Catherineanne91
so this data will be presented in the admin panel?
it will be used to inform admins when given Verified status?

[2022-01-13 02:51] pellarboss commented on #373
<img width="585" alt="Screen Shot 2022-01-13 at 1 50 47 pm" src="https://user-images.githubusercontent.com/24906507/149257220-9f3c8141-2e23-41d7-a5c9-fdacd64191f6.png">

its in admin, do we want it in dashboard also?

[2022-01-13 02:58] pellarboss commented on #390
thats not how transfers work...

we will try to recover the token if possible

[2022-01-13 03:55] pellarboss commented on #390
token recovered
1 - sent user some ETH
2 - transferred the Token to master
3 - sent remaining eth back to master
4 - adjusted record in xcur

[2022-01-13 07:29] eventang2015 commented on #363
implemented in staging.
Note: guest will not increase the number of product.view_count in next release.

[2022-01-13 08:54] eventang2015 commented on #308
@madtocc  new field - fraudulent on product and user

[2022-01-13 09:42] curateproject commented on #390
Hi @pellarboss the sender is saying the NFT is not back in his account?

[2022-01-13 12:34] curateproject opened #391 "Import SOL NFT Bug"
A user is trying to import a SOL NFT into curate however they are pasting their phantom wallet address

I told them, they need to paste their NFT contract address - where can they find this i.e where on solbeach: https://solanabeach.io/address/6nssrF4sbeD2y8cw7S3u6C4En8net5jJK9yx8vCMEcN8

![Screenshot 2022-01-13 at 12 29 34](https://user-images.githubusercontent.com/51517619/149331051-c2d37cc1-cd8

[2022-01-13 22:16] Catherineanne91 opened #392 "User can not input input verification code"
The app will not let user enter the code. It gives  two fields to enter a new password and 6 dots to enter the code into. There is no way to click or tap into the dots in order to enter the code

![2 (2)](https://user-images.githubusercontent.com/93180831/149417673-5dec40a1-cfb8-4b8e-b021-baf08d231b35.jpg)
.

[2022-01-13 22:19] madtocc commented on #392
#368

[2022-01-13 22:19] #392 closed

[2022-01-14 20:10] curateproject opened #393 "Cancelled stake still showing"
![Screenshot_20220114-161234_CURATE.jpg](https://user-images.githubusercontent.com/51517619/149578612-51d18308-73d9-49b8-8409-2e4e04ebcc42.jpg)

I had my stake cancelled by Even (the one started on 4th Jan) but it still shows in my staking log

Can you remove this or put cancelled so it's not confusing with the live ones?

[2022-01-15 13:45] curateproject opened #394 "Set up SPF on our Emails to prevent getting picked up as spam"
Can you add the SPF record value from Google and update the record in Cloudflare so that emails sent from curate.style are not picked up as spam/phishing emails.

Here's a guide to get the SPF record value from google:

https://support.google.com/a/answer/33786

Let me know if you need access to google workspaces first.

[2022-01-16 09:42] curateproject opened #395 "Add 'Collections' and 'Recent' tab to marketplace menu"
Collections tab:
Display the featured collections first at the top followed by all other collections sorted A to Z (perhaps seperate the featured collections somehow on the list)

Recent tab:
Display the recently listed NFTs for sale (not pending or rejected NFTs) from most recent at the top

[2022-01-16 09:53] curateproject opened #396 "XCUR traded metric"
Can the XCUR traded metric on profile also include purchases as well as sold items

For example my profile jmshkm100@gmail.com shows zero for xcur traded even though I've been buying since July

[2022-01-16 09:54] curateproject opened #397 "Unamed NFTs on profile"
![Screenshot_20220116-095226_CURATE.jpg](https://user-images.githubusercontent.com/51517619/149655128-df3bdd3e-2566-447e-b361-75e6635d025a.jpg)

On my profile jmshkm100@gmail.com it shows 2 unnamed NFTs as shown in the screenshot above, can you restore this nft or delete them?

If this is happening for other users can you auto fix this for them too?

[2022-01-17 02:32] Catherineanne91 opened #398 "Show Created Collections on User's Profile"
Current UI:
Does not show all the collections created by the user. It only shows all the NFTs minted.

Proposed:
Collections  created by the user should show in the "About" and "Minted" Section in the User's Profile

[2022-01-17 12:52] curateproject opened #399 "UX Tweaks for the app"
1. Can you make the 2 blocks solid and not transparent for the Deposit USDC and Buy XCUR button
3. Add option on wallet page to switch token display from list to board/grid view (see image attached) - default view should be grid

![Grid view](https://user-images.githubusercontent.com/51517619/149768561-8f33abe9-427a-4d94-b034-a6ec9b3490b2.jpeg)

[2022-01-17 21:43] curateproject commented on #373
Yes please in public dashboard too @pellarboss (apologies for not mentioning earlier)

[2022-01-17 21:44] curateproject commented on #374
Just waiting for 1. above to get done before I close the issue - any update yet @madtocc @pellarboss ?

[2022-01-17 21:46] #330 closed

[2022-01-17 21:46] #351 closed

[2022-01-17 21:46] #352 closed

[2022-01-17 21:46] #353 closed

[2022-01-17 21:46] #363 closed

[2022-01-17 21:46] #364 closed

[2022-01-17 21:46] #366 closed

[2022-01-17 21:46] #368 closed

[2022-01-17 21:46] #371 closed

[2022-01-17 21:46] #376 closed

[2022-01-17 21:46] #377 closed

[2022-01-17 21:46] #379 closed

[2022-01-17 21:46] #383 closed

[2022-01-17 21:46] #386 closed

[2022-01-17 21:49] #359 closed

[2022-01-17 21:49] #361 closed

[2022-01-17 21:49] #367 closed

[2022-01-17 21:49] #369 closed

[2022-01-17 22:06] curateproject opened #400 "iOS not reflecting image changes"
I think that the ‘changes’ to your photo in the iphone are not taken into account on the app. Therefore the latter NFT was a different color (darker).

I tried to make the picture exactly how I wanted and screenshotted it. When minting it, it gives the whole printscreen (not the square I took out), so either way the ‘additions’ to a photograph (on the iphone) are not taken into account.

---

The

[2022-01-18 06:39] eventang2015 commented on #375
envkeys:
1. add ALGO into PERMITTED_TRADE_COMMIT_TYPES
2. `    algo: {
        enabled: true,
        main_net: process.env.ALGO_MAIN_NET === 'true' || false,
        decimal: 6,
        api_key: process.env.ALGO_API_KEY || 'ZfA7EYxJs92f7x5TSrIAK9gowyGMf2yq50eu1z4m',
        api_endpoint: process.env.ALGO_API_ENDPOINT || 'https://testnet-algorand.api.purestake.io/ps2',
        indexer_endpoint: pr

[2022-01-18 15:15] Catherineanne91 opened #401 "User Details in Admin Panel: Show USDC Equivalent of XCUR Sold and Total Volume"
Show USDC Equivalent of XCUR sold and Total Volume in User Details (Admin Panel)

![USDC xcur](https://user-images.githubusercontent.com/93180831/149964376-6fa4e0c9-ee6b-41bc-9c4a-b597fc3639d2.jpg)

[2022-01-18 16:23] TheOneXi opened #402 "Add Metis Integration (token and mint/import/export NFT)"
Can you add metis token and chain integration

Allowing users to purchase NFTs using Metis token as well as mint/import/export on their chain.

There dev integration guide is here:

https://docs.metis.io/building-on-metis/connection-details

[2022-01-19 01:48] Catherineanne91 opened #403 "Verify Identity Button is not working"
Verification Button is not working
.

To Reproduce:
Steps to reproduce the behavior:
1. Go to Profile > Settings > Verify my Identity
2. Click on "Verify Identity"

Expected Behavior
Will proceed to Identify verification process (iE select type of document to scan, scan document etc.)

Current Behavior:
Nothing happens when clicking the Button

Screenshot
![Image from iOS (1)](https://user-images.

[2022-01-19 04:09] doles2 commented on #394
The updated SPF record now includes the Google workspaces content

`v=spf1 +ip4:67.225.160.82 include:mailgun.org include:_spf.google.com ~all`

[2022-01-19 09:02] eventang2015 commented on #401
now it's in staging

[2022-01-19 11:10] TheOneXi opened #404 "Add 'Beta' and 'Staking only available on mobile app' Message on Web App"
Can you add a text banner or message somewhere on the web app 'Beta'

And add 'Staking only available on mobile app'

[2022-01-19 12:29] TheOneXi opened #405 "Add 'Sending from OpenSea?' on import page"
Can you add the following as a tool tip for users sending from OpenSea on the import page:

1. Copy the contract address and token ID from NFT details in the curate app and add those values to the form and click on the curate custody address to copy it. Then click on import NFT

2. Go back to Opensea and Click on the Transfer Icon

3. Add the curate custody address and click transfer. Approve the

[2022-01-19 12:53] TheOneXi opened #406 "User imported NFT with wrong token ID"
User: Domantasr@inbox.lt

The user imported the NFT below but put the wrong token ID on the curate import page

He put token ID as 0318

Correct token ID is 318

https://etherscan.io/tx/0x6ff1e0cb4c34e8c2c010177be9ee5dd9455e0f92cc3dce34510520e937a87e5f

[2022-01-19 13:39] Catherineanne91 opened #407 "Error during THETA withdrawal"
User cannot proceed with THETA withdrawal

To Reproduce:
1. Go to Wallet
2. Click Theta > Withdraw
3. Enter External Theta address, Amount to withdraw
4. Click "verify withdraw"
5. User enters 2FA key

Current Behavior:
Error showing "The request failed due to a validation error"

Expected behavior:
User proceeds with verification and complete withdrawal

User Email: jesusmarugan2001@gmail.com
And

[2022-01-19 19:24] TheOneXi commented on #395
Also when selecting the collection tab from the search menu can you auto show the featured collection list before entering any text in the search field i.e autopopulates the blank area like the screenshot below

![Screenshot_20220119-192025_Google Play Store.jpg](https://user-images.githubusercontent.com/51517619/150199883-6dd024bd-d9f3-4c96-a8e8-42b2a898cc68.jpg)

If the search results return no

[2022-01-19 20:38] TheOneXi opened #408 "Twitter bot missing sales:"
https://twitter.com/CurateBot

But our telegram bot is working fine:

https://t.me/+_pzyJgJ5BcNiMTE1

The Twitter bot misses some sales

It gets reported from the telegram bot correctly but the Twitter bot misses some.

Below is an example of a tx missed

![Screenshot_20220119-203720_Telegram X.jpg](https://user-images.githubusercontent.com/51517619/150209808-9ccde0e3-359e-4bdb-98c7-6f6b7005618b.j

[2022-01-20 03:44] eventang2015 commented on #406
https://opensea.io/assets/0x05febf6a40a672854b3549f2b814e9a9946e6cc7/318
https://opensea.io/assets/0x05febf6a40a672854b3549f2b814e9a9946e6cc7/0318
they are the same.
the imported item token id is `"nft_token_id" : "318",`

[2022-01-20 03:59] eventang2015 commented on #393
resolved.

[2022-01-20 09:03] eventang2015 commented on #389
@madtocc  append new param: `?chain=solana|algorand|ethereum` to the query params.

`
nft: {
        chain: {
            eth: 'ethereum',
            sol: 'solana',
            algo: 'algorand'
        }
    }`

[2022-01-20 09:26] eventang2015 commented on #385
implemented in staging.
@madtocc  new attribute on user and product
user.fraudulent = bool
product.fraudulent = bool

[2022-01-20 10:00] TheOneXi commented on #308
Hi @pellarboss and @eventang2015 where in admin panel can admins add the caution tag onto NFTs and users?

[2022-01-20 10:05] eventang2015 commented on #308
there's a toggle button under the item key.
![image](https://user-images.githubusercontent.com/28645146/150317475-6fd97571-2e85-4f78-b4fa-8fbe30703093.png)

[2022-01-20 10:09] TheOneXi commented on #391
The same user updated on iOS to v5.2.1 but is still getting the same error when entering his token address for the SOL NFT:

![Solana ](https://user-images.githubusercontent.com/51517619/150318007-833aed8f-5509-4d51-8df5-1c26ba387057.jpg)

![ktIT1BF1](https://user-images.githubusercontent.com/51517619/150318165-abed654b-752b-4db4-b097-579c359024e8.jpg)

@pellarboss @madtocc

[2022-01-20 10:23] eventang2015 commented on #390
it's imported by another user ?https://admin.curate.style/product/c7a92d33f5933311e05b6ed6/detail

[2022-01-20 10:23] eventang2015 commented on #390
import log:
`"userkey" : "9800f3f816812d8274d54f924a14fa8b379b",
    "contract_address" : "0x0c4bae424deaa9be96bb0998524bc91e1903d794",
    "token_id" : "1632690433",
    "type" : "ERC721",
    "chain" : "ethereum",
    "state" : "imported",`

[2022-01-20 10:24] TheOneXi commented on #407
The same user is now getting the following error after updating to v5.2.1 when trying to withdraw his THETA:

@pellarboss

![tfuel](https://user-images.githubusercontent.com/51517619/150320733-f900a2a6-06d0-4580-8bde-863a777d75bf.jpg)

[2022-01-20 10:58] TheOneXi commented on #308
@eventang2015 is this in staging? I can't find it on production app - can you push it live so I can see and send me the link to the item above so i can try?

[2022-01-20 12:17] madtocc commented on #391
Are you sure it is updated?
Copied the address and it does not show invalid address to me. Could you ask him to send a video showing the app version and trying to import?
https://user-images.githubusercontent.com/12486417/150337102-2b303be6-1633-4ede-a09b-561661e6ed71.MOV

[2022-01-20 12:20] TheOneXi commented on #391
Yes sure I think it's him I'll check

[2022-01-20 13:26] Catherineanne91 opened #409 "Hide NFT's minted and owned by a user locked by Admins"
Stolen NFT are being sold in the platform.
When a user/seller is locked, all the NFT's the user minted and own should automatically  be hidden in the marketplace to keep another user from buying the stolen-sold NFT's.

[2022-01-21 03:01] eventang2015 commented on #390
NFT name : Premium T-shirt NFT - 9 of 10
owned by another user :  https://admin.curate.style/product/9114786243add489dec6f8fb/detail

[2022-01-21 07:33] eventang2015 commented on #396
implemented in staging, needs to run recon_user_total_trade.js

[2022-01-21 09:56] toomingos opened #410 "NFT Auction Winner"
Hey guys need the file minted on ETH and sent to this wallet addresss:

0xE4Af55352aBcE62321cd2924137bd22495d78a21
![image008](https://user-images.githubusercontent.com/86632157/150506319-5a3b5ac0-c2f2-4cbf-88cf-09ca0f83cf76.png)

[2022-01-21 09:58] toomingos commented on #410
Name: SCROOGE MC DUCK NFT
Artist: SQXID

[2022-01-21 11:31] #410 closed, assigned to pellarboss, eventang2015

[2022-01-21 11:45] TheOneXi commented on #391
The above user is now v5.2.1

They've successful sent the sol NFT

This is the tx hash:

3z7D5vLshHn93iNQBFwWhKiu8GKy9v9aSRWZATTEcqpu

**But they do not see the imported solana NFT in their profile even though it's in the curate custody wallet.**

Can someone help and fix this and also prevent this happening again?

@pellarboss

[2022-01-21 20:04] TheOneXi commented on #389
Got a screenshot of how this will look? @madtocc

[2022-01-21 20:05] madtocc commented on #389
about the filter?
we can include this same icon in the nft card (if you want)
![image](https://user-images.githubusercontent.com/12486417/150592972-4d93b18f-71ac-4ccc-aa59-6aa7481223d1.png)

[2022-01-21 20:39] TheOneXi commented on #389
Nice this looks but I also meant the marketplace, how it will look etc when scrolling through the marketplace with different chain NFTs

[2022-01-21 21:05] madtocc commented on #389
we can show the icon (+label?) on the card? like on the image, next to likes or below likes?

[2022-01-21 21:08] TheOneXi commented on #389
Yes I like that idea @madtocc

Can you show me how it'll look in staging once ready?

[2022-01-22 09:56] Catherineanne91 opened #411 "2FA Validation Error during Withdrawal (iOS & Android)"
User cannot proceed with withdrawal due to 2FA validation ERROR

1. Go to wallet
2. Click XCUR
3. Click Withdraw
4. Type withdrawal details and click Verify withdraw
5. Asks for 2-Factor Authentication
6. User types the correct code but shows Validation Error

Expected outcome:
2FA successful; user completes withdrawal

User email: yaansinlee@hotmail.com
iOS
latest apps version 5.2.1b123 iOS.

Ano

[2022-01-22 12:29] madtocc commented on #411
fixed @Catherineanne91, please confirm

[2022-01-22 13:31] TheOneXi opened #412 "Add bell icon to profiles"
Add a bell icon to profiles to allow others to get notified via in-app notification whenever the creature lists an new NFT or physical goods item for sale.

I.e. A notification bell for subscribers to get informed of the latest drops etc

[2022-01-22 18:30] Catherineanne91 opened #413 "Cancel Listing Error"
User can not cancel listing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Profile > About
2. Click an NFT listed for Auction
3. Click Cancel Listing
4. Nothing happens

**Expected behavior**
Should be able to cancel listing

![271778235_1015435255701688_3766190224295011231_n](https://user-images.githubusercontent.com/93180831/150651053-3fd67a1e-d23b-40fb-aa8b-c79710bfe5f4.jpg)

-Andr

[2022-01-22 18:37] Catherineanne91 commented on #411
yaansinlee@hotmail.com tried to withdraw xcur and **confirmed its fixed.**

[2022-01-23 13:31] TheOneXi opened #414 "Add collection tab on profile"
Add collection tab on profile for users who have created a collection

If no results display a message saying that

![20220123_133014.jpg](https://user-images.githubusercontent.com/51517619/150680883-a1a7e5ef-d334-4b49-b4d6-4c1e1df9cfba.jpg)

[2022-01-23 15:58] TheOneXi opened #415 "Report NFT button shows a blank screen"
**Describe the bug**

Report NFT button shows a blank screen

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any NFT and click report button

**Expected behavior**
It should take you to the report section but instead shows a blank screen

**Screenshots**
https://user-images.githubusercontent.com/51517619/150686969-829afca3-f50b-4bd2-9f5b-3a3c2f3d20ae.mp4

**Smartphone (please complete

[2022-01-24 11:09] #374 closed

[2022-01-24 11:10] #380 closed

[2022-01-24 11:11] #389 closed

[2022-01-24 11:11] #394 closed

[2022-01-24 11:11] #397 closed

[2022-01-24 11:12] #403 closed, assigned to TheOneXi, Catherineanne91

[2022-01-24 11:12] TheOneXi commented on #401
Can you push to production? @eventang2015

[2022-01-24 11:22] TheOneXi opened #416 "Blank screen when making a bid"
**Describe the bug**
When trying to make a bid on an auction it leads to a blank screen

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an NFT on auction
2. Try to place a bid
3. Blank screen will show

**Expected behavior**
It should not show a blank screen and either confirm the bid if sufficient funds or display insufficient funds message

**Screenshots**
![blank screen](https://use

[2022-01-24 12:15] Catherineanne91 commented on #411
@madtocc Another Error when withdrawing SOL

Error when Withdrawing Solana

To reproduce
1. Go to Wallet
2. Click Solana
3. Click Withdraw
4. Enter Sol Address, Amount to withdraw
5. Click verify withdraw
6. Enter 2FA key
7. Error Appears; "Request failed due to validation Error"

Android
App version: 5.2.1
Device: Redmi note 7

Email: juniargayuhc@gmail.com

![Screenshot_2022-01-21-20-15-11-057_a

[2022-01-24 12:27] Catherineanne91 opened #417 "User Cannot Mint JPEG (iOS)"
User cannot submit JPEG for minting

1. Go to profile
2. Click 3 bar icon (lower right)
3. Mint NFT
4. Select JPEG
5. Type Details (Title, Description, Price, Proof of work, etc,)
6. Submit for Approval
7. Error Shows "ERROR- only support jpg.jpeg,gif,svg,mp4,, mov"

Expected Outcome:
Should show Success and Waiting for Approval

The following users experience this problem:

shubham17nainiwal@gmai

[2022-01-24 12:29] TheOneXi opened #418 "Set up FB Pixel and FB App Token"
Can you help set up Facebook pixel:

 https://developers.facebook.com/docs/app-review

And also an app token in the iOS and Android apps:

https://developers.facebook.com/docs/facebook-login/access-tokens/

Let me know what requirements you need

[2022-01-24 13:14] Catherineanne91 opened #419 "USDC Credit Card Deposit Error"
User cannot proceed to deposit via Credit Card

To Reproduce:

1. Go to Wallet
2. Click USDC
3. Click Deposit
4. to Card deposit , Enter Amount
5. Click Deposit
6. Error appears as shown (see image)

Expected outcome: Should lead to page for Credit Card information

Email: wejn72@163.com
User tried both iOS (phone) and Web app

![Image from iOS (8)](https://user-images.githubusercontent.com/931808

[2022-01-24 13:30] Catherineanne91 opened #420 "Stake Boost NFT not recognized"
Stake Boost NFT Not Recognized
User has premium two tone Hoodie Booster for 1.5x Staking

Latest Version of App
iOS

User Email: Petercmikus@gmail.com

[2022-01-24 13:31] madtocc commented on #417
@eventang2015 sometimes iOS returns extension in uppercase could you check the extension without being case sensitive? I removed the heic extensions for the current staging build.

[2022-01-24 20:15] madtocc commented on #414
Hey, @curateproject, it is a little bit weird to have the about within the NFTs page, so I have moved it above the tab bar. Also, I have renamed the about to NFTs + fixed the text padding.
![image](https://user-images.githubusercontent.com/12486417/150858528-66458fe8-9874-4f85-bd87-7ec042357cbe.png)

[2022-01-24 20:24] TheOneXi commented on #414
This is great I agree :)

Just to confirm have you also added the collections tab? I see it in your screenshot but it wasn't mention so just want to confirm

[2022-01-24 20:24] madtocc commented on #414
![image](https://user-images.githubusercontent.com/12486417/150859002-6bcd4e2f-344d-45f3-8fe5-b4d23288c228.png)

[2022-01-25 03:14] eventang2015 commented on #396
now it's in production.

[2022-01-25 03:27] eventang2015 commented on #373
merged to production https://dashboard.curate.style/

[2022-01-25 03:28] eventang2015 commented on #141
generated sharing url for users,collections and products in production.

[2022-01-25 03:32] eventang2015 commented on #407
hotfixed.

[2022-01-25 06:01] pellarboss commented on #390
The user does not own the NFT

[2022-01-25 06:08] pellarboss commented on #287
finally done
recommended fixes are in production

[2022-01-25 06:10] breaddog commented on #408
hi @curateproject , did you receive anything in your email from twitter developer regarding anything related to api usage recently?

ive also checked the developer's portal and nothing out of the ordinary that incidates there are issues, as mentioned below it might be either a rate limitation or an api endpoint limitaiton on twitter's end

[2022-01-25 06:11] pellarboss commented on #408
Currently works ok
https://twitter.com/CurateBot

Twitter probably have a rate limitation?

[2022-01-25 06:31] pellarboss commented on #391
the user MUST send the NFT to the Curate Custody wallet (SOL Master)
the user has not done this yet... (he still has the NFT)

[2022-01-25 06:35] eventang2015 commented on #391
@curateproject seems this token https://solscan.io/token/6nssrF4sbeD2y8cw7S3u6C4En8net5jJK9yx8vCMEcN8 didn't send to master SOL address https://solscan.io/account/3z7D5vLshHn93iNQBFwWhKiu8GKy9v9aSRWZATTEcqpu
please let him send the token to **3z7D5vLshHn93iNQBFwWhKiu8GKy9v9aSRWZATTEcqpu** and then create an import log, input
the token address **6nssrF4sbeD2y8cw7S3u6C4En8net5jJK9yx8vCMEcN8** as the

[2022-01-25 08:55] TheOneXi commented on #408
Nothing in my emails, perhaps rate limit?

[2022-01-25 09:09] TheOneXi commented on #407
Will this fix take place in a new build or shall I ask him to try again?

[2022-01-25 09:11] TheOneXi commented on #373
@eventang2015 can you add a comma (,) to make it easier to view the numbers i.e 300,000.00 XCUR etc

[2022-01-25 09:22] Catherineanne91 opened #421 "Error in Changing Avatar Image"
Error in Changing Avatar Image

To reproduce:
1. Go to Profile
2. Click Avatar (upper left)
3. Click Avatar to Change image
4. Upload JPEG image
5. Error shows (see image)

Expected outcome:
Should be able to change avatar in jpeg format

File extension jpg
Device android
App version 5.2.1

Email egotria22@gmail.com

[2022-01-25 10:02] Catherineanne91 opened #422 "Edit Reason For Denial in Admin Panel"
Add more information for the first reason for denial (Copyrighted product). So the list of denial reasons should look like:

- **Copyrighted Product - To validate the ownership, please submit the detailed Proof of Work (i.e. multiple different layers, colors, and the sketch, presented in different screenshot)**

- Regular Pictures lack artistic skill and quality will be denied upon submission in o

[2022-01-25 10:07] toomingos opened #423 "Transfer NFT to account"
https://admin.curate.style/product/6f7bde05fdc8fb9ab92984b2/detail

 Product Key: 6f7bde05fdc8fb9ab92984b2

Transfer to user: ashiqalipattasseri@gmail.com

[2022-01-25 12:20] eventang2015 commented on #422
hotfixed.

[2022-01-25 12:41] TheOneXi commented on #391
The user has said it's gone from his phantom wallet and should be in his curate wallet ending in 3z

![20220125_123824.jpg](https://user-images.githubusercontent.com/51517619/150978756-c358d40c-2417-44e9-96c3-4b2c507f7c23.jpg)

@eventang2015 @pellarboss

[2022-01-25 12:51] eventang2015 commented on #420
@Catherineanne91
the product-1abda105339f2b4da495cfee has been occupied by a stake - eb1a778fa6f43722.

[2022-01-25 13:00] eventang2015 commented on #423
@toomingos  Done

[2022-01-25 13:08] eventang2015 commented on #391
@curateproject is this token https://solscan.io/token/6sBLQx2XRV77CHJoZqXUP4jdYPVp6n6N8acziWqrJHci ?
could he add an import log ? input 6sBLQx2XRV77CHJoZqXUP4jdYPVp6n6N8acziWqrJHci as the contract address in App.

[2022-01-25 15:37] TheOneXi commented on #391
![Screenshot 2022-01-25 at 15 36 19](https://user-images.githubusercontent.com/51517619/151008103-074d26a9-5d07-410e-a393-8b4a52be3c78.png)

Here's what the user said @eventang2015

Can you advice please?

[2022-01-25 17:57] madtocc opened #424 "ALGO Chain Integration (mint/import/export)"
Splitting #375 into token and NFT.
- Add ALGO import/export NFT feature
- Add ALGO mint NFT feature

[2022-01-25 17:58] madtocc commented on #375
currently available
- Wallet
- Deposit, Withdraw
- buy XCUR

[2022-01-25 22:00] TheOneXi commented on #308
@madtocc and @eventang2015 can you confirm if this will be shown in the new build?

[2022-01-25 22:04] madtocc commented on #308
app side yes.

[2022-01-26 02:36] eventang2015 commented on #391
yes, I see  a pending import log now.
but I wonder if our server ip is blocked by solana rpc
`"message":"Too many requests from your IP, contact your app developer or support@rpcpool.com."`

[2022-01-26 05:55] Catherineanne91 commented on #416
@madtocc , iOS user experiencing similar problem

 arthurmj@live.com

[2022-01-26 07:25] Catherineanne91 opened #425 "2FA Keeps Timing out for ETH withdrawal"
2FA keeps timing out and error message appears when encoding 2FA pin for ETH withdrawal

To reproduce issue:

1. Go to wallet
2.  Click Ethereum
3.  Click Withdraw
4.  Enter external ETH address and amount to withdraw
5.  Click verify withdraw
6.  App asks for 2FA - Enter 2FA code
7.  2FA keeps timing out and error message appear

Expected outcome:
Should be able to proceed withdrawal after encodi

[2022-01-26 07:42] Catherineanne91 opened #426 "User Cannot Deposit USDC via Credit Card"
User cannot deposit USDC via CreditCard - a white screen appears when user clicks 'deposit'

To reproduce:

1. Go to wallet
2. Click deposit usdc
3. Enter amount
4. Click 'Deposit'
5. A white screen shows up

Expected outcome:
Clicking deposit should lead to page that requires user to fill in credit card details.

![271961297_355428782779984_5039983987403530837_n](https://user-images.githubusercon

[2022-01-26 07:57] TheOneXi commented on #391
What shall I tell the user for now @eventang2015 @pellarboss ?

[2022-01-26 08:35] Catherineanne91 opened #427 "Allow Creator to Change Collection Name and Transfer NFT's within collections"
Additional features for collection:

1. An option for creator to rename his existing Collection
2. Enable creator to remove and NFT from a collection and transfer to another collection

[2022-01-26 09:38] DefiHunter commented on #244
Change NFT & P2P Pricing to be fixed in USD

For example - User A lists CatGirl for 1000 USD , Currently user lists in XCUR

[2022-01-26 10:15] madtocc commented on #426
Please update to latest version: 5.3.0; All blank screen issues Should be fixed

[2022-01-26 11:09] pellarboss commented on #391
that Solana is experiencing issues, and there is nothing we can do, we've escalated to Solana, and they haven't given us a response.

@curateproject generally, across the board, Solana is struggling to keep up with Curate's requests, user base & keeping on erroring out

[2022-01-26 11:47] Catherineanne91 opened #428 "Wallet does not Load"
Wallet does not load (Only shows total Balance)

To reproduce
1, Go to wallet
2. The page only shows Total Balance

Expected outcome
Should show Wallet Balance for: Xcur, SOSx, USDC, Ethereum, DOT, etc.

5.2.2b125 iOS
Email: moecarrim@curate.style

![Image from iOS (2)](https://user-images.githubusercontent.com/93180831/151157846-db1d709a-444e-4b23-b284-0949d97329f3.png)

[2022-01-26 13:58] madtocc commented on #357
@toomingos could you clarify this?
is the 2 step minting the one that is currently available in the app (you pick the picture(s)/video(s) first then add the details or it is a bulk creation (which is what @pellarboss is saying)?

[2022-01-26 16:19] DefiHunter opened #429 "NFT Staking"
Goal - To  incentivise users to import & list blue chip NFTs on Curate from other marketplaces i.e opensea

API Required to Fetch Floor Price for Collection:
Pull floor prices from Opensea https://docs.opensea.io/reference/api-overview

Allow users to list NFTs at variable prices - for example list a BAYC at floor price (floor taken from opensea refreshed every 6hrs or less frequent i.e every 12 h

[2022-01-26 17:40] TheOneXi opened #430 "Staking page error on iOS"
![20220126_171336.jpg](https://user-images.githubusercontent.com/51517619/151216708-4e3aea0c-375b-4b14-8ac3-b5044a7093ac.jpg)

Shows error on this page for iOS users on the latest version

-Users email is: moecarrim@curate.style

iOS
iPhone 11

[2022-01-26 17:43] madtocc commented on #428
@eventang2015 please take a look. Accounts are taking too long to load > 10s. Maybe it is related to the SOS since it didn't happen before.

[2022-01-27 11:23] Catherineanne91 opened #431 "Staked XCUR does not show"
User staked 8500 XCUR in addition to 98 XCUR already staked.
When user go to MY STAKES in the XCUR app, it does not show  the staked 8500 XCUR but only shows 98 XCUR twice

Email: mstanlake@upwellhealth.com.au

Android
updated version

![2 (6)](https://user-images.githubusercontent.com/93180831/151349341-23c186ac-098f-4698-9b62-eca7ecb1277b.jpg)

[2022-01-27 11:28] madtocc commented on #431
@Catherineanne91  please include the version number. Otherwise it will be difficult to know if it really is the latest version. Btw this is not the last version 😅

[2022-01-27 11:36] Catherineanne91 commented on #431
i understand. Sorry for that. Will update this asap

[2022-01-27 11:43] madtocc commented on #431
No problem at all @Catherineanne91, this is just to track if the problem is already fixed or still persists. Thank you!

[2022-01-27 13:13] Catherineanne91 commented on #431
@madtocc

This User updated his app
v5.3.0b125

Now it is showing "account does not exist" on the staking page

![Screenshot_20220127-224424_CURATE](https://user-images.githubusercontent.com/93180831/151365681-76f4829d-83b3-4682-9454-2128b98a1cf5.jpg)

[2022-01-27 13:28] madtocc commented on #431
Oh, I guess I found an issue.
For now could you please ask the user to click on XCUR account then on Staking? or wait till his accounts show up?

[2022-01-27 14:19] Catherineanne91 commented on #431
alright, thank you, @madtocc

[2022-01-27 14:43] madtocc commented on #431
related to https://github.com/pellartech/curate/issues/430
The issue has been fixed and will be available in the next update. If users found this issue please instruct them to wait for accounts to load before clicking on staking on the accounts page or ask them to click on staking under XCUR account details.
Thank you

[2022-01-27 18:12] toomingos opened #432 "Questions for Roy"
Could you help us reply to these questions from a dev thats working on a NFT collection. We trying to do an exclusive drop on Curate where they mint directly onto our custodial ETH wallet.
1. Is the target address contract ?
1.1 If so it should naturally know how to handle erc721. So I could omit onERC721Received?
2. How will it be handled afterward?
2.1 3 core function were written in manner that

[2022-01-27 22:31] pellarboss commented on #432
1 the target address is an account (not a contract)
1.1 since it is an account, it does not need to have receiveable capabilities

2.  i dont know the question... the nft just resides on the master / custody wallet

Curate's API can allow sending of funds

sorry i dont understand the context & question

[2022-01-28 02:05] Catherineanne91 commented on #431
thank you

[2022-01-28 09:22] Catherineanne91 opened #433 "XCUR Transaction History is showing wrong information"
XCUR Transaction History is showing wrong information

1. Go to Wallet
2. Click XCUR
Wrong information in transaction History

Expected outcome:
Should show my 1. Purchase for Skull | God of Fire (January 24) and 2. Wizard Owl (september 19 2021)

See attached images

![272114203_468707151364351_6169439780113081077_n](https://user-images.githubusercontent.com/93180831/151519858-03972148-5d93-4229-

[2022-01-28 11:39] TheOneXi commented on #406
User sees the NFT now but can't sell it, below is a screenshot of what he sees, can you help @pellarboss

![profile](https://user-images.githubusercontent.com/51517619/151540700-e5981b2a-13aa-41f0-8b8d-f8599bbc2c31.jpg)
![list NFT](https://user-images.githubusercontent.com/51517619/151540707-318f9dca-62a9-48bc-bc7e-f464ed58a419.jpg)

[2022-01-28 12:36] toomingos commented on #432
@pellarboss

About this one "Another thing that I want to understand is that if we can utilize our API key for users to interact with the minting apps of the collections websites". We need to find a way to have users minting on the collections website, the mint section, with their Curate account and the API key integration

[2022-01-28 14:16] toomingos opened #434 "Add "For sale tag""
We should add a listed tag for the NFTs that are listed for sale on the marketplace page, collection pages, user pages, etc...

Currently is only on "My Profile page"
![IMG_AFF6DE20CC0A-1](https://user-images.githubusercontent.com/86632157/151562101-9265a6a9-53aa-4136-950c-42c9dcdf6157.jpeg)

[2022-01-28 14:17] toomingos commented on #434
Added to Jan V5.5, you guys can push it to Feb if is too late for it now

[2022-01-28 14:20] madtocc commented on #434
Marketplace only lists on sale items, so that it would be redundant (but I can add if you want)
We can add the tag on collections & user profiles.

[2022-01-28 14:21] toomingos opened #435 "Collections page"
We need to auto-unlist after 48hours of no activity Collections with no NFTs on them, this would mainly happen on the search collections page, but let's have the same thing for the upcoming rankings page

[2022-01-28 14:43] toomingos opened #436 "Can't create collection"
App version 5.2.2b125 iOS
User key: 25fad84b4a2553d8b0b9b3cac762cfab424b

Cant create a collection, keeps on loading for minutes
![IMG_90121CE0FAD9-1](https://user-images.githubusercontent.com/86632157/151566655-19b12efc-2d54-4b93-b991-9b54c79f05e6.jpeg)
.

[2022-01-28 15:06] madtocc commented on #436
does the collection show up under your collections?

[2022-01-28 21:31] pellarboss commented on #436
@toomingos please provide all the assets used in the creation
Please always ensure we provide ways to produce issues in future issue reporting

[2022-01-28 21:32] pellarboss commented on #432
Yes, using the APIs provided One can Mint an NFT

[2022-01-28 21:39] pellarboss commented on #385
@toomingos please let us know how you would like us to amend

[2022-01-28 21:45] pellarboss commented on #428
I will have a look at optimising performance

[2022-01-28 21:48] pellarboss commented on #421
lets support JPEG as well as JPG

[2022-01-29 10:18] TheOneXi commented on #395
Hi @madtocc can you show a screenshot of how this is looking? Would like the 'collection' tab next to 'featured' and 'recent' tab before last sales tab

[2022-01-29 15:08] TheOneXi opened #437 "Feedback from v5.5 (9 tweaks before pushing to production)"
1. Can you add the wallet icon to the bottom muggy

2. Can you show all collections A-Z at the end of the featured collections on the collections tab (this way users can browse and discover new collections)

3. I'm trying to update my twitter handle but I keep getting this error (can you also make it easier to enter the IG and Twitter username by just requiring the handle/username and not the full

[2022-01-31 09:01] Catherineanne91 opened #438 "Error in Withdrawing Algorand"
01-310122

Error in Withdrawing Algorand

To reproduce issue:
1. Go to account
2. Click Algorand
3. Click Withdraw
4. Type withdrawal details (address, amount to withdraw)
5. Click Verify withdraw
6. Enter 2FA

Error appears (as shown)

![-d6k46h](https://user-images.githubusercontent.com/93180831/151765484-b1322785-be10-4ad3-ac6e-aca7973f3654.jpg)

Expected outcome:
Should proceed to withdrawal a

[2022-01-31 10:29] toomingos opened #439 "Search box wont load the keyboard"
When I go to the search bar, click on it and get to the search page. Once I'm on the search page I can't load the keyboard while tapping the search box repeatedly.

https://user-images.githubusercontent.com/86632157/151777439-f0c48dbc-5249-41ef-b802-e2ac2786480a.MP4

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**

[2022-01-31 11:23] toomingos opened #440 "NFT Proof Of Work Preview on stats page"
We want to add a way for buyers to preview the proof of work submitted by the creators. Making the POW public gives a higher level of transparency to the platform and hence provides the potential buyers additional information prior to completing a purchase. This also transfers the accountability to the buyers as Curate can only provide transparency but cannot guarantee and has not verified authent

[2022-01-31 11:47] TheOneXi commented on #437
Any update on this @pellarboss and @madtocc

Once the above 8 tweaks/bugs are resolved we can push to the production

[2022-01-31 14:16] TheOneXi commented on #314
Add MetaMask FAQ Page on website with buttons for staking, importing etc..

MM = Decentralised and seamless import/export and purchasing but cons not gasless and no rebates

[2022-01-31 14:16] TheOneXi commented on #314
User connects MM and interacts with master wallet (xcur.eth) and pays the gas fees

[2022-01-31 14:20] TheOneXi opened #441 "Add 'Gaming' section on Featured NFT page"
Add new tags for collections
- gaming
- metaverses
- pfps
- membership

Add sub-menu on NFT featured section with the following categories to choose from (including verified sellers)

[2022-01-31 14:54] DefiHunter opened #442 "Make an Offer"
Allow buyers to make an offer on all NFTs including ones that are not available for sale

Logic required:
1. Buyer should have funds available in wallet for an offer to be made
2. Funds are locked once an offer is made and pending (to prevent spamming offers from same user)

Seller can chose to accept, reject or counter the offer (offer and counter-offers should auto-reject after 72 hours of no an

[2022-02-01 13:02] madtocc commented on #437
@curateproject I'm not being able to reproduce 7 here. Is anyone else facing this issue?
I suggest next time, create individual issues and link them into this new one. I don't know what the app version of this issue is (by the picture, I can deduce it is on Android).
![image](https://user-images.githubusercontent.com/12486417/151973196-5ede2a90-9176-449a-b404-11e9a2150522.png)

[2022-02-01 13:09] TheOneXi commented on #437
Ok will create an individual bug request next time for 7

[2022-02-01 19:25] toomingos opened #443 "Featured NFT not showing"
I have featured this NFT and it seems like it's not showing, https://admin.curate.style/product/dfcfb38d20c2d4859f08771a/detail

[2022-02-01 22:50] TheOneXi opened #444 "Remove sale icon on auction ended NFTs"
Really like the new sale icon on NFTs for sale

But it should only be on NFTs which are actively for sale i.e listed for sale as buy it on now or on an auction not on items where the auction is finished

This is also affecting the floor price number on collections as it's accounting for items for sale but with auctions ended which needs to be removed

[2022-02-02 09:12] Catherineanne91 opened #445 "Verify ID button not working on Admin Panel"
To verify users who claim that their ID verification keeps failing, admins will verify user manually from the admin panel.
The Verify ID button is not working

To reproduce
1. Go to admin panel -https://admin.curate.style/
2. Go to Users
3.  Find User with problem in ID verification
4.  Click VERIFY ID
5.  A loading page keeps showing without any confirmation that ID has been verified

![Verify ID

[2022-02-02 12:04] TheOneXi commented on #399
![20220202_120218.jpg](https://user-images.githubusercontent.com/51517619/152150337-5fc89630-dd26-4258-ac05-5fc40bc5f202.jpg)

Here's another example

Be great to get this done next @pellarboss @madtocc

[2022-02-02 12:25] DefiHunter opened #446 "BSC withdrawl issue"
**Describe the bug**
When a user withdraws xcur on Bep-20 network above the manual approval threshold  and the master wallet has insufficient funds,admins are still allowed to approve it and if approved the transaction goes into a locked state and the user funds are not sent but removed from his account

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'wallet'
2. Click on 'xcur'
3. With

[2022-02-02 15:16] DefiHunter opened #447 "PRIORITY Circle issue"
Circle has reported fraud , let's please investigate

Further details can be found in the circle slack channel .

Affected user email who I have now locked but have seen he withdrawn funds

Please investigate and respond to circle

Message from circle

Hi Curate Team,

My name is Chris from the Circle Risk Team. During our daily transaction monitoring, the following users were found due to fraud c

[2022-02-02 15:44] TheOneXi opened #448 "Add sales bot our discord server"
Same as telegram but also added to our discord server

Let me what details you need. Here is the invite link:

https://discord.gg/E9NGYfxHgK

[2022-02-02 16:47] toomingos opened #449 "Add NFTs to Collection"
We need to add the list of nfts on the link to the following collection:

Key: db3d2a350854f4b8ca293296
Name: Stake Boosting NFTs

https://docs.google.com/spreadsheets/d/1SQB0f4jMOk89Sz3zpcyeJeRhjU7YtVqJ6QjGDhVEdKU/edit?usp=sharing

[2022-02-02 22:11] TheOneXi opened #450 "Data leak exploit"
Received the below message about a data leak via the profile follow list, can you have a look?

----

Hey James, I've had a chat with my brother who brought some issues surrounding security which was regarding the exposure of emails. I know your team have worked to try and fix this however there is still exposure and this information can still be obtained following someone on the app, being follow

[2022-02-02 22:26] pellarboss commented on #450
i dont think this is an issue (our security audit did not flag this also)

We will have another look thou

[2022-02-02 23:09] pellarboss commented on #447
nimustaphaismail@gmail.com
was able to purchase since its ID was verified by Jumio correctly
record posted to slack

nasirushehu4383@gmail.com
was able to purchase since its ID was verified by Jumio correctly
record posted to slack

[2022-02-02 23:14] pellarboss commented on #447
nimustaphaismail@gmail.com
auwalaminuauwal12@gmail.com
are both verified by Jumio

@madtocc please raise an issue with Jumio when you can, lets see what Jumio says

[2022-02-03 04:43] pellarboss commented on #446
user funds processed

@eventang2015 please investigate how to prevent this from occurring in the future, ie if Master does not have enough, dont allow approval.
If master is misaligned with remote, please look at how to stay in sync better (implement watch dog)

[2022-02-03 14:28] madtocc commented on #444
App side tag resolved.
@eventang2015  please remove the auctions ended from floor price.
i.e., only return the ones that are online && approved. If they are an auction, they must be active as well.

[2022-02-03 17:21] madtocc commented on #399
![image](https://user-images.githubusercontent.com/12486417/152394967-dd21c472-d822-40f6-aef1-7aadf282d69e.png)

[2022-02-03 18:47] TheOneXi commented on #399
This looks great @madtocc

If you can set grid as the default and have an option to select list view

[2022-02-03 22:51] #249 closed

[2022-02-03 22:57] #370 closed

[2022-02-03 22:57] TheOneXi commented on #382
Was you able to add this @madtocc @pellarboss ?

[2022-02-03 22:58] TheOneXi commented on #385
Amend what @pellarboss?

Let me know so I can inform @toomingos

[2022-02-03 23:01] TheOneXi commented on #391
Hi @pellarboss were you able to find a solution for the SOL RPC issue?

Let me know so I can update this user

[2022-02-03 23:07] TheOneXi commented on #400
Let me know what you find @madtocc @pellarboss

[2022-02-03 23:11] #406 closed, assigned to eventang2015

[2022-02-03 23:11] #437 closed, assigned to madtocc

[2022-02-03 23:14] TheOneXi commented on #360
Did this get done @eventang2015 or @pellarboss ?

[2022-02-03 23:28] TheOneXi commented on #424
Integrate ALGO chain integration

Prioritise import/export over mint ALGO

[2022-02-03 23:37] TheOneXi commented on #378
Still waiting from Alex (our designer) send us the figma link - will update you soon

[2022-02-04 11:58] TheOneXi commented on #450
Ok thanks the guy seemed quite strongly about this so let me know if you any questions for him, he's a security engineer

[2022-02-04 12:01] TheOneXi commented on #399
![IMG-20220204-WA0007.jpg](https://user-images.githubusercontent.com/51517619/152525708-625bae48-118f-489d-88a2-de80699ec071.jpg)

Something like this with a toggle to switch between list view and grid view (grid will be default)

@madtocc

[2022-02-04 14:11] Catherineanne91 opened #451 "Inaccurate information showing on Collection Metrics"
A user's collection metrics is showing inaccurate information

User email: **atelier.codybayne@gmail.com**
iOS  (using both ipad and iphone, shows the same error)
5.5

**#1 Momento Mori**
Collection Link:
https://admin.curate.style/collections/07209a862da4949720dcee9b

- Should show 50 pcs, not 45
- The collection should show 12 owners, not 4
- Total Volume should show 300 (12 pcs sold for 25 XCUR

[2022-02-04 14:19] Catherineanne91 opened #452 "Change Denial Reason for NFT's in the Admin Panel"
The following changes are made
1. added email address  for regular photos
2.  edited the reason for regular photos for a "less offensive" statement that often upsets users

New reasons should  be:

1. **Copyrighted Product - To validate the ownership, please submit the detailed Proof of Work, applying all of the layers separately in the software, taking screenshots of each layer applied at the tim

[2022-02-04 15:51] toomingos commented on #439
Still happening, I need to open the app again to make It work´

[2022-02-04 15:52] toomingos commented on #160
https://www.figma.com/file/7K8McIi4ZqToPLn2f1pLEF/Curate-v4 Here's the figma link

[2022-02-05 11:13] TheOneXi commented on #391
Hi @pellarboss has this been fixed?

The user still can't see his important sol nft

[2022-02-05 23:05] TheOneXi opened #453 "Help prevent our weekly email newsletter (sent via mailchimp) not end in spam"
Hi @pellarboss just hoping you can help prevent our emails ending up in spam.

We do a weekly newsletter from support@curate.style sent via mailchimp to all our users

You recently added an SPF cname record in cloudflare DNS which fixed the spam issue with our curate.style emails but just wondering if you're able to help with the mailchimp newsletter?

Thanks

[2022-02-05 23:06] TheOneXi commented on #453
Found this article, may this can help:

https://www.inboxally.com/blog/mailchimp-emails-going-to-spam-how-to-fix-and-avoid-it#:~:text=One%20of%20the%20possible%20reasons,from%20your%20domain%20via%20Mailchimp.

[2022-02-06 00:40] TheOneXi opened #454 "Rate of XCUR to USDC is off quite a bit"
![Screenshot_20220206-003848_CURATE.jpg](https://user-images.githubusercontent.com/51517619/152663764-a3eae3db-5798-469e-a2c6-a9f061cc6c84.jpg).

At the time of taking the screenshot the rate on kucoin and coingecko was XCUR = $2.19

Can you increase the refresh?

[2022-02-07 06:05] doles2 commented on #453
Updated the SPF and DKIM records to include mailchimp servers

[2022-02-07 08:37] Catherineanne91 opened #455 "Implement BSC-USDC on System for Deposits and Withdrawals"
Allow users to deposit and withdraw USDC through Binance Smart Chain Network

[2022-02-07 09:53] toomingos opened #456 "Process NFT Collection Import"
tokenID : 1 - 50
User : kongdo
Email : disket024@gmail.com
Name : Kongdo Club

https://etherscan.io/tx/0x59b92927acb7c11673d10eb5b73c025f0b14f8c30f7dbafe95d8cf4d98034c6e

[2022-02-07 12:33] eventang2015 commented on #391
@curateproject https://admin.curate.style/product/25516dfd76085d92c1c0d2b6/detail
imported

[2022-02-07 12:46] DefiHunter opened #457 "Withdrawal Issue - BSC RECON"
In light of the recent issue with the BSC master wallet and withdrawals.

It seems there are a couple users who withdrew, the funds were removed from their account and the withdrawal failed due to low funds but the money wasn't returned to their account.

Could we please run a total recon to ensure all past payments and deposits have been settled

Please lets make this priority

[2022-02-07 12:48] DefiHunter commented on #457
An example of a user who reached out - Ghanbarif2018@gmail.com

As @albertov19 suggested, lets revert all failed transactions

[2022-02-07 12:49] DefiHunter commented on #457
More affected users:
ilovemjjackson23@gmail.com
yaansinlee@hotmail.com

[2022-02-07 13:04] eventang2015 commented on #437
https://admin.curate.style/users/0c3abf01324a399ca65312b530eb406b665b is James too, I renamed it to James-WRX

[2022-02-07 13:07] eventang2015 commented on #450
added mask string for endpoints :
- Get user's bio,
- Get followered users
- Get my followers

[2022-02-07 13:28] TheOneXi commented on #437
ah thanks @eventang2015

[2022-02-07 13:38] TheOneXi opened #458 "Add site-wide banner on Desktop web app"
'Desktop web app is currently in beta - please use the iOS/Android app for the full experience (staking etc.)'

Please can you add the above site-wide banner on the desktop app.

[2022-02-07 13:39] madtocc commented on #458
Yes, it will be updated today

[2022-02-07 13:42] #141 closed

[2022-02-07 13:42] #287 closed

[2022-02-07 13:42] #308 closed

[2022-02-07 13:42] #340 closed

[2022-02-07 13:42] #341 closed

[2022-02-07 13:42] #357 closed

[2022-02-07 13:42] #362 closed

[2022-02-07 13:42] #373 closed

[2022-02-07 13:42] #375 closed

[2022-02-07 13:42] #390 closed

[2022-02-07 13:42] #395 closed

[2022-02-07 13:42] #396 closed

[2022-02-07 13:42] #401 closed, assigned to Catherineanne91

[2022-02-07 13:42] #405 closed, assigned to TheOneXi

[2022-02-07 13:42] #408 closed, assigned to TheOneXi

[2022-02-07 13:42] #414 closed, assigned to TheOneXi

[2022-02-07 13:42] #415 closed, assigned to TheOneXi

[2022-02-07 13:42] #416 closed, assigned to TheOneXi

[2022-02-07 13:42] #419 closed, assigned to Catherineanne91

[2022-02-07 13:42] #420 closed, assigned to Catherineanne91

[2022-02-07 13:42] #422 closed, assigned to Catherineanne91

[2022-02-07 13:42] #423 closed, assigned to toomingos

[2022-02-07 13:42] #426 closed, assigned to Catherineanne91

[2022-02-07 13:42] #428 closed, assigned to Catherineanne91

[2022-02-07 13:42] #430 closed, assigned to Catherineanne91

[2022-02-07 13:42] #431 closed, assigned to Catherineanne91

[2022-02-07 13:42] #432 closed, assigned to toomingos

[2022-02-07 13:42] #434 closed, assigned to toomingos

[2022-02-07 13:42] #436 closed, assigned to toomingos

[2022-02-07 13:55] TheOneXi opened #459 "Add 'SOL' tab on mint page - allow minting of SOL NFTs"
To complete the full sol experience can you add the ability to mint a SOL NFT

[2022-02-07 13:56] TheOneXi commented on #160
@pellarboss and @madtocc above is the figma link to use for the new stats and metrics page

[2022-02-07 14:56] TheOneXi commented on #391
Hi @eventang2015 the user still can't see his imported SOL NFT, here is the video he sent me:

https://user-images.githubusercontent.com/51517619/152812176-6dc67744-0148-41b2-862a-846a87e384c8.MP4

[2022-02-07 21:20] TheOneXi opened #460 "Potential NFT sale exploit"
A user imported and then later exported an NFT from Curate

However the imported NFT still shows on the users profile, in the collection and is still for sale which can allow a scam seller to sell an NFT not held in our wallet

Please see the NFT in question below (please can you remove this NFT and remove an NFT from the marketplace once exported)

NFT: #2881
User: DivineAnarchy

![Screenshot_202

[2022-02-08 07:23] eventang2015 commented on #460
Done. the owner created 2 import logs

[2022-02-08 09:49] TheOneXi commented on #460
Thanks @eventang2015

How can we prevent this happening again? i.e someone creating 2 imoort logs and trying to sell the copy which is not backed by anything?

@pellarboss

[2022-02-08 16:00] toomingos opened #461 "P2P Product not showing on app"
Recently when going through the whole UX for the P2P, I have found out that, after being approved, my P2P product isn't showing on the profile P2P tab and when I search for it as well

product: https://admin.curate.style/product/92a2f86011c13ab9f008d146/detail

![IMG_1628](https://user-images.githubusercontent.com/86632157/153025443-c0722db0-cea6-4781-a097-6f9cffeb2a4f.PNG)
![IMG_1629](https://use

[2022-02-09 04:24] pellarboss commented on #388
is this related to the Curate platform?
or is this a generic thing? (as per decentralised)

the solution we can build:
- ETH 721/1155
- 1:1 or batch
- batch minted every day (so heaps of gas saved)
- charge in eth (so sales proceed will go in to a curate wallet)

[2022-02-09 04:45] pellarboss commented on #245
Please confirm how does this work exactly:

If you price your product in USDXC (on the xchain), your product can't be bought with XCUR right?
If you price your product in XCUR XC20 (on the xchain), your product can't be bought with USDXC right?

ETH is very difficult in this model, since ETH needs to be a full ETH transaction (since ETH is on the ETH network, not on XChain), we need to cater for e

[2022-02-09 08:47] Catherineanne91 opened #462 "Recover Funds: User Deposited USDC to Curate Wallet on BEP20"
Recover Wrong Deposit : User deposited USDC to Curate on BEP20

TXN:
https://bscscan.com/tx/0x4e2b185a0107d0bdaf151203a676be3218868a43ed1cb56bca7b1c62eb50fec9

Email: mhr9900@hotmail.com
Token: USDC
Amount: 4,284 USDC

**NOTE: Charge the user 10%, to recover the funds**

https://curateorg.slack.com/archives/C02E00EH68N/p1644209857160819?thread_ts=1643633724.156039&cid=C02E00EH68N

[2022-02-09 09:43] toomingos commented on #456
Smart Contract: 0xED16961A447ED2C0f1051Ce1B71aFBDEB0b62444

[2022-02-09 13:57] DefiHunter commented on #245
Priced in USD -
User can pay in USDC, XCUR or ETH. So the USD value is converted real time to the equivalent XCUR, ETH or any other token we allow payments with. So it can be bought with XCUR

Example: Say XCUR is $2 - User lists for $100 USD . Equivalent XCUR price now is 50 XCUR

Sellers by default would have XCUR enabled as a payment option, they then can also chose to accept  ETH, USDC or any

[2022-02-09 23:48] pellarboss commented on #462
@Catherineanne91 where do we send it back to?
(please ensure you include this in the future)

[2022-02-10 00:05] pellarboss commented on #427
1 - only if the collection is created by that user (not imported), ie you shouldn't rename BAYC to something else
2 - only if the destination collection is also created by the same user

@eventang2015 please facilitate backend first
@madtocc can do the UI after

[2022-02-10 00:19] TheOneXi commented on #427
agree with your points for both 1 and 2 @pellarboss

looking forward to seeing this feature go live

[2022-02-10 00:29] pellarboss commented on #442
@eventang2015 please have a think about the logic and design APIs as you see fit

[2022-02-10 00:32] pellarboss commented on #440
@eventang2015 please set up the APIs to facilitate this, let @madtocc know when it is done (and assign to him when ready)

[2022-02-10 00:43] #457 closed, assigned to DefiHunter

[2022-02-10 02:42] pellarboss commented on #447
jumio has confirmed these ids are real

as a precaution, circle has been instructed to remove all NG sourced cards

[2022-02-10 02:45] pellarboss commented on #160
lets close this issue and recreate a new ones - cleaner that way

linked to #463

[2022-02-10 02:46] pellarboss opened #463 "Stats features"
https://www.figma.com/file/7K8McIi4ZqToPLn2f1pLEF/Curate-v4 Here's the figma link

please check the new stats section
@eventang2015 please look at what we can do (what data we have and can display) and provide the APIs accordingly

[2022-02-10 02:46] eventang2015 commented on #461
@toomingos It's not online.
@madtocc have button to set it online in app?

[2022-02-10 02:48] pellarboss commented on #385
@curateproject this ticket was completed but @toomingos removed "ready to review" so we are keen to understand what hasn't been completed and what needs to be amended

[2022-02-10 02:52] eventang2015 commented on #391
@curateproject it's imported but denied by an administer. I've re-approved it now.

[2022-02-10 02:54] pellarboss commented on #244
@DefiHunter
removing XCUR as default currency?

with commissions, i presume only if the NFT is not staked? and if the funds are not staked?

[2022-02-10 02:57] pellarboss commented on #454
This is because the 10% premium admin set up

As discussed, did you guys want to expose the % as a fee displayed to the user?
(understand its implication to the "zero fee" messaging)
@DefiHunter @curateproject

[2022-02-10 03:05] eventang2015 commented on #460
@curateproject fixed. will prevent import again:
- if an Nft has an import log = pending
- if an Nft is imported and not exported

[2022-02-10 03:12] eventang2015 commented on #452
@Catherineanne91  updated.

[2022-02-10 03:17] pellarboss opened #464 "Solana Sync - Decrease Pace"
Task 1 - exclude Spammers from sync

Task 2 - reduce pace by 50% - we've hit our 20M/monthly quota with quicknode

[2022-02-10 03:22] pellarboss commented on #245
ok! kinda make sense, so the flow will be

1. James lists A at 10 XCUR, and accepts USDXC
2. Roy sees A for 10 XCUR OR 35 USDCX (using real time pricing)
3. Roy can pay in USDCX, confirms
4. James sold the product, and receives USDCX
5. all commissions etc are paid in USDCX

We can't do ETH since ETH is not wrapped, but we can do this in SOS (since it is wrapped)

[2022-02-10 08:31] eventang2015 commented on #451
@Catherineanne91  I quried from db
https://admin.curate.style/collections/07209a862da4949720dcee9b only 45 itmes in this collection
https://admin.curate.style/collections/9d19d8727b2141ad3110310e  96 items
https://admin.curate.style/collections/d4d0a2fc254e95ad4d3a6d49 7 items

[2022-02-10 10:23] DefiHunter commented on #245
Correct ,

To make it simpler we could default to setting all prices in usd
So user sets price in usdc , price is then converted real time to all
accepted currencies

And then another drop down box to select accepted currencies
For example
Xcur ( on by default and compulsory)
Usdc
SOS

User can click to select one or multiple currencies

On Thu, 10 Feb 2022 at 03:22, Roy Hui ***@***.***> wrote:

-

[2022-02-10 10:23] DefiHunter commented on #454
No need , fee has been dropped to 1%

On Thu, 10 Feb 2022 at 02:58, Roy Hui ***@***.***> wrote:

--

Moe Carrim

CFO | Curate
www.curate.style

[2022-02-10 10:24] DefiHunter commented on #244
Correct , if the funds are not staked . User is not Eligible for tier
rewards .

XCUR should always be a default enabled payment option that’s mandatory

On Thu, 10 Feb 2022 at 02:54, Roy Hui ***@***.***> wrote:

--

Moe Carrim

CFO | Curate
www.curate.style

[2022-02-10 10:26] madtocc commented on #461
Yeah, it should be able to do it in the app but it was not loading the p2p products under profile. I fixed this yesterday. It will be available in the next version build > 128

[2022-02-10 11:37] eventang2015 commented on #445
added auth key for customer service admin

[2022-02-10 11:50] eventang2015 commented on #443
@curateproject
https://federation.curateapi.io/products/featured?limit=10
shows
Note:  only show 10 featured nfts and order by last modified time

[2022-02-10 12:29] TheOneXi commented on #453
Hi @doles2 we just tested it again (sent an email via mailchimp) and it landed in spam.

I saw this message from Gmail which can help fix this:

To reduce the chances of messages from your domain being sent to spam or being blocked by Gmail, follow the general best practices in this section.

Set up valid reverse DNS records of your IP addresses that point to your domain.

Ideally, send all messag

[2022-02-10 13:01] #458 closed, assigned to TheOneXi

[2022-02-10 13:10] TheOneXi commented on #450
thanks @eventang2015 will this be ready in the next build?

[2022-02-10 13:14] TheOneXi commented on #443
Can we increase the limit to 20 @eventang2015 for featured, trending and weekly pics? @madtocc

[2022-02-10 13:38] TheOneXi commented on #453
@doles2 I think I found the issue, we need to authenticate the domain on mailchimp

can you provide me the following info on the screenshot below to authenticate the domain on mailchimp

![Screenshot 2022-02-10 at 13 38 40](https://user-images.githubusercontent.com/51517619/153419378-5e83a9e7-4872-4a10-a1de-0809fc94454e.png)

[2022-02-10 14:20] Catherineanne91 commented on #462
User wants to send it to : 0xEDD5c58D32b1B0Fd197800DbC0D153f831718EF5

[2022-02-10 14:20] Catherineanne91 commented on #462
@pellarboss user wants to send it to : 0xEDD5c58D32b1B0Fd197800DbC0D153f831718EF5

(Yes, will make sure this information is included in future, similar issues)

[2022-02-10 15:01] TheOneXi commented on #391
Thanks the user now see's it

Can you remove it from the collection though? Not sure how it got added in that

Also can we add some UX so we can display to users that this is a SOL NFT? @eventang2015 @madtocc i.e display sol icon for this nft on the NFT page and marketplace page

![20220210_150002.jpg](https://user-images.githubusercontent.com/51517619/153434796-8bb6acf6-b99b-4f34-8f41-6e6b4140efa

[2022-02-10 23:29] pellarboss commented on #462
3854 sent to 0xEDD5c58D32b1B0Fd197800DbC0D153f831718EF5
rest sent to xcur master

[2022-02-11 04:43] eventang2015 commented on #391
imported NFTs are in Curate collection (auto created). the acture owner is Master Wallet.

[2022-02-11 04:44] eventang2015 commented on #450
it's in production.

[2022-02-11 04:58] eventang2015 commented on #464
only sync accounts in 2 weeks.
last_sync_ts> 2 weeks ago.

[2022-02-11 05:22] eventang2015 commented on #451
currently, the volume = total value of orders sold not total NFTs price

[2022-02-11 05:30] eventang2015 commented on #443
@madtocc I updated the limitations to 20 in fed.

[2022-02-11 07:03] eventang2015 commented on #440
@madtocc  item.pow_public (bool)

[2022-02-11 08:00] eventang2015 commented on #438
@Catherineanne91 `Error: Network request error. Received status 400: TransactionPool.Remember: transaction RKJDBKY6S7JH27BL4SMAH7GKIWUQKLEZSLVIFRWYYJPIH2UEJVNQ: account I72ECPNR5L4S3ZVOPZDZTPKVXQ4S4YIIOJUS3HFHNOCJ5CMUHSWMDPKNGQ balance 9360 below min 100000 (0 assets)`
so the minimum withdrawal amount after ducucting net fee of ALGO is 1 Coin.
will merge into production soon.
@madtocc FYI.

[2022-02-11 08:02] eventang2015 commented on #417
@Catherineanne91  I think it's fixed in prod.

[2022-02-11 08:06] eventang2015 commented on #421
fixed.

[2022-02-11 08:11] eventang2015 commented on #409
@Catherineanne91 when admin strick an user（exclude warning）, update all his NFTs offline and reset to pending status?

[2022-02-11 12:48] Catherineanne91 opened #465 "User wants to access his account created on Curate Beta App"
1. User created an account on the BETA APP  with the email: psturm79@gmail.com
2. User receives an email that his NFT named HODL was SOLD (_On Tue, 21 Dec 2021 at 18:53)_.
3. There is no NFT named "HODL" in the admin panel that is created by psturm79@gmail.com (see image below for email received by user)

![HODL](https://user-images.githubusercontent.com/93180831/153593593-44d20d4e-189b-499c-8249-

[2022-02-11 13:01] madtocc commented on #465
Beta App = staging, everything is fake, so there's no real value. He won't be able to login into staging anymore since this is closed for team testing purposes.

Product can be found here:
https://admin-stage.curateapi.io/product/1259b4642e3a21591d35b4b8/detail

[2022-02-11 15:02] DefiHunter opened #466 "Closed"
.

[2022-02-11 15:09] #466 closed, assigned to pellarboss, TheOneXi

[2022-02-11 20:04] madtocc commented on #443
@eventang2015 I haven't set a limit to any request regarding featured, trending, weekly picks. So you can set the limit on the server-side (I know this would gonna happen someday)

[2022-02-12 13:59] TheOneXi opened #467 "Reduce the min required to convert SOL into XCUR"
Can you reduce the minimum requirement of 1 SOL when trying to buy/convert it into XCUR in the app

For example as 1 SOL currently = $90 can you reduce the minimum to 0.1 SOL when trying to convert it into XCUR

Can we do the same for other tokens in the app i.e reduce the amount required when buying/converting into XCUR

**Question:** Is there a need for a minimum? If not can we can remove the mi

[2022-02-12 16:00] TheOneXi opened #468 "Add recommened dimensions when uploading collections or profile image"
Add a tooltip or some text recommending the dimensions in pixels for the collection banner/background, profile image and NFT image

i.e the collection banner looks to be 1920 x 680 pixels and the profile picture a square (300x300), not sure on the NFT image

But if you add some recommended guidance on the size dimensions that will really help creators create the exact image (esp for the collection

[2022-02-13 18:39] DefiHunter opened #469 "Deposit length"
Deposits of XCUR on the ETH & BSC network is really slow.

Below is a deposit I made over 1hr ago, in that time it still has not reflected into my xcur wallet.

How often is the wallets syncing ? From my understanding it's suppose to be every 15minutes-30min max right ?

Tx hash for reference

https://etherscan.io/tx/0x1ffcec6e9afcb070bbd3f6dc1d672c216097a1860a931f55a82e37730a6c8466

User account

[2022-02-14 01:54] doles2 commented on #453
Ok this is updated, please let me know if it helps the spam issue

[2022-02-14 10:04] TheOneXi commented on #453
Hi @doles2 can you send me the above cnames to enter in MailChimp so I can authenticate the domain?

[2022-02-14 13:20] toomingos opened #470 "Kongdo Club Reveal"
We have a collection that dropped 50 NFTs with us and they are still showing the pre reveal metadata. I wanted to understand how can users that own them can refresh the metadata since I thought there was a button to do so. Need to understand if this is doable, if not we need to talk to the NFT collection team and time a reveal.

User Key: 7022f92f1706bbcd8c1ed71dfdfa36655bfe

Import Log (NFTs from

[2022-02-14 14:43] Catherineanne91 opened #471 "Show information of the products under each collection in the Admin Panel"
Currently When Admin clicks Collection> Specific Collection (ie Skater Boi), it only shows the Name, Description, Feature (or Not),  Logo and Background

See image below:
![collection info](https://user-images.githubusercontent.com/93180831/153884426-d15ddb5a-f835-4be0-b3ee-a53184cb8b34.jpg)

it will be helpful for admins to have a preview of the products under each "edit collection page" in the a

[2022-02-14 21:42] madtocc commented on #399
![Simulator Screen Shot - iPhone 13 - 2022-02-14 at 18 42 14](https://user-images.githubusercontent.com/12486417/153951262-539d78ef-c1fd-4e08-b625-a4202b1142ff.png)
![Simulator Screen Shot - iPhone 13 - 2022-02-14 at 18 42 08](https://user-images.githubusercontent.com/12486417/153951277-604b0db9-13f3-40bd-ba40-85c5bb8d37ce.png)
![Simulator Screen Shot - iPhone 13 - 2022-02-14 at 18 42 05](https://

[2022-02-15 02:07] TheOneXi commented on #391
@pellarboss can we remove this auto collection creation when importing an NFT?

As in this case, this SOL NFT isn't part of a collection and is just a 1 of 1

Also the NFT gets displayed with 10 XCUR as price and the importer can’t lower it i.e to 5 XCUR for example - can you remove this limitation?

[2022-02-15 03:40] eventang2015 commented on #467
implemented in staging, waiting for merging

[2022-02-15 03:41] eventang2015 commented on #469
fixed.

[2022-02-15 03:50] eventang2015 commented on #391
@curateproject removed collection for this item.
 you can update **Mint Min Amount** on admin setting page.
 remove  auto collection creation for both SOL and ERC721 ?

[2022-02-15 04:58] pellarboss commented on #470
oh, there is currently no method for fetching meta data

Task 1
@eventang2015 please refresh Kongdo's meta data

Task 2
lets make this an admin thing (admin can click on a product to get its new metadata)

[2022-02-15 05:24] pellarboss commented on #469
we implemented a method to deter spammers (to increase speed for active users)
which is to lower the priority for synchronisation for less active accounts

we have reverted this method, so accounts like Moe's will be synchronised faster

[2022-02-15 05:37] doles2 commented on #453
should be okay now @curateproject ?

[2022-02-15 05:38] pellarboss commented on #391
I think leave ERC721 as is

When SOL is imported, remove auto Collection creation

[2022-02-15 05:41] pellarboss commented on #314
as discussed, if a decentralised approach is needed (for metamask), where users keep custody, we should explore building a decentralised marketplace instead - eg defi vs cefi

moved to future milestone

[2022-02-15 07:27] eventang2015 commented on #391
done.

[2022-02-15 08:04] eventang2015 commented on #409
set locked user's all products denied and offline.

[2022-02-15 14:32] madtocc commented on #439
I tried to reproduce here on Simulator and two physical iPhones, and I could not reproduce this.
Can you provide more information about the phone used and the iOS version?

When reporting a bug, the device should state the actual device, and the OS is the version of the operating system, not the version of the app.
e.g.
- Device: iPhone 13
- OS: 15.2.1

[2022-02-15 14:48] madtocc commented on #468
Collection Banner - The collection banner depends on the screen's width; phones, tablets, and monitors have different sizes. We are fitting the image to the width (not scaling, unless the image is too small), so the output will be dependent on the width (if there's more room, it will show more). I don't know where you have experienced stretching or distortion, do you care to elaborate? See an atta

[2022-02-15 15:04] madtocc commented on #441
This issue is not clear to me.

We currently don't have tags for collections, only for NFTs. Is this for collections or the NFTs? If it is for NFT, you can add them to the Admin panel. If it is a tag for a collection, it needs to be created since it does not exist (if so, what happens to the existing collections?).

How do you exactly want to display this? A tab bar below the tab bar with those op

[2022-02-15 15:16] madtocc commented on #400
to me, it's the exact same output...
![Simulator Screen Shot - iPhone 13 - 2022-02-15 at 12 15 35](https://user-images.githubusercontent.com/12486417/154091403-63ddc586-d574-48d9-b99b-3c88537ccf8d.png)
![Simulator Screen Shot - iPhone 13 - 2022-02-15 at 12 15 44](https://user-images.githubusercontent.com/12486417/154091432-05baf014-c9a5-426f-b11c-a369344cef62.png)

[2022-02-15 22:16] TheOneXi commented on #400
No worries then let's ignore this for now

[2022-02-16 01:11] #400 closed

[2022-02-16 01:21] TheOneXi commented on #441
Just need to create new tags for NFTs (not collections) so apologies.

Where in admin can I create/manage the tags?

Can you add a tab bar below the tab bar and show me a preview here of how it'll look?

I think we'll need to increase the amount of NFTs featured on the featured page to 12 and also 12 for all sub featured categories

[2022-02-16 01:23] TheOneXi commented on #468
Can we try a 3:1 pixel ratio fixed for the collections banner and add a text tool tip so creators can design the right size?

[2022-02-16 04:22] pellarboss commented on #442
buyer could navigate to anyones profile

item could be: online + for sale OR online + not for sale

for online & not for sale, the buyer can make an offer
this will lock buyer.XCUR

if seller accepts offer, sale will complete

if buyer cancels offer, funds are unlocked

buyer should be able to query all products on offer
(UI should be able to list all products that I have offered)

[2022-02-16 07:41] eventang2015 commented on #471
implemented in staging.

[2022-02-16 08:02] Catherineanne91 opened #472 "Solana NFT Export Error"
Solana NFT Export Error

To reproduce:

1. Go to Profile > Export NFT
2. Select NFT to Export
3. Select Chain (Solana)
4. Type External account address

SHows: ERROR Export Product Failed

![Image from iOS (13)](https://user-images.githubusercontent.com/93180831/154221224-f59cbb50-d063-4247-8745-fa5d88db070d.jpg)

Name of NFT: Silly Billys 022
External Account Address: EXeSheN8uQaQnDD78fGVDgtixK6Z

[2022-02-16 09:49] eventang2015 commented on #470
implemented in admin site.
@madtocc public endpoint - POST : `/products/:key/meta/refresh`

[2022-02-16 11:37] eventang2015 commented on #470
@toomingos  Added a button 'refresh meta data' on product detail page.
but I don't find more attributes from OS.

[2022-02-16 13:58] TheOneXi opened #473 "Create quick scroll to screen"
https://youtu.be/rQxf0nV4r7g

Can you add quick scroll to top of screen for iOS and if possible for Android to as in the video above

[2022-02-16 14:32] toomingos opened #474 "Curate API Key Minting App Interoperability"
We're looking to skip the whole process of making Collections importing NFTs onto the Curate app in order to sell them. We want users to be able to Sign in with their Curate Account on the Collections website in order to, mint on Pre-sale and Public Sale onto their Curate accounts.

We would need your technical guidance to put together an easy guide on how to set up the API Key for minting interop

[2022-02-16 15:07] madtocc commented on #441
https://admin.curate.style/settings
![image](https://user-images.githubusercontent.com/12486417/154289143-79b2a46f-b583-474b-a980-25d15c90d9b8.png)

I don't think it will look cool, but it is up to you and honestly, I have never seen two tab bars stacked. I'd add a similar to what we had before... If you want to add several sections to featured I think it would be better to display them like this:

[2022-02-16 15:25] TheOneXi commented on #441
Thanks for the update I'll come back to you on these points for now let's move forward

[2022-02-16 18:32] Catherineanne91 opened #475 "Require Users to Upload Profile Pictures and banner in creating a collection."
Current issue:
Users can create a collection without  having to upload Profile and
Background images. Because of that,  many collections just show a Curate image, as default.

![273666974_1830954387100670_1784551315990625532_n](https://user-images.githubusercontent.com/93180831/154332163-ac5e4a77-9031-467f-88d4-c69ef5409c53.jpg)

SOLUTION:
-Make it so that Profile and Background images are mandato

[2022-02-16 18:33] TheOneXi commented on #407
The user is still facing the issue in the current build.

I see @eventang2015 said above this has been fixed so will this fix be in the next build or should it be on the current one @pellarboss @madtocc ?

[2022-02-16 18:40] madtocc commented on #407
It should be fixed in the current release. Do you know what type of error he is receiving?

[2022-02-16 18:59] TheOneXi commented on #407
![theta](https://user-images.githubusercontent.com/51517619/154336451-af11991c-3e7e-4dba-9af3-0927980be49b.jpg)

This is the error he gets when he tries to make Theta withdrawal

Note: He doesn't have any TFUEL

[2022-02-16 19:06] madtocc commented on #407
@eventang2015 please take a look when you can.

[2022-02-17 02:08] eventang2015 commented on #407
@curateproject send theta requires tfuel coins as net fee.

[2022-02-17 09:03] TheOneXi commented on #407
Can you add a message on the error screen and on the withdrawal page for theta withdrawals that TFUEL is required as gas and you can mention how much TFUEL is required

[2022-02-17 12:29] toomingos opened #476 "Floor Price"
The collection floor price stat is accounting for every item when in reality it should be the cheapest item listed
![IMG_1670](https://user-images.githubusercontent.com/86632157/154481886-44d022be-801a-43ae-8b5a-46663768c63b.PNG)
![IMG_1669](https://user-images.githubusercontent.com/86632157/154481901-4c97245d-f56f-4698-bd90-6d4a1df0d400.PNG)

[2022-02-17 12:32] toomingos opened #477 "Edit Attributes bug"
The only user that should be able to **edit the attributes of an NFT is the original creator, and he can only do it if owns it and it hasn't sold yet!** Right now any owner of NFT can edit the attributes

Here's a screenshot of NFT I bought
![IMG_363F3E37DCE6-1](https://user-images.githubusercontent.com/86632157/154482486-2c67fba6-c668-466e-9a1f-013c4de75da6.jpeg)

[2022-02-17 14:46] Catherineanne91 opened #478 "Delete User's NFT Collections but keep all NFT's"
User Email:
ilovemjjackson23@gmail.com

User wants to delete the Collections but keep the NFT's. He wants the NFTs to be available on this profile and on the marketplace but not under any collection

Collection #1:
Insomnia (4 items)
https://admin.curate.style/collections/f905a2da306117d7cc630b20

Insomnia #1
Insomnia #2
Insomnia #3
Insomnia #4

Collection #2
https://admin.curate.style/collections

[2022-02-17 17:13] toomingos opened #479 "Create Collection form failing to load Gallery"
**Describe the bug**
Create Collection form failing to load Gallery and to complete the collection, as the complete button doesn't register

**To Reproduce**
Steps to reproduce the behavior:
1. Go to create collection form
2. Click on the gallery and complete

**Expected behavior**
Loads photo gallery

**Screenshots**
https://user-images.githubusercontent.com/86632157/154533941-028effaf-e3e4-4df3-

[2022-02-17 17:15] toomingos opened #480 "2FA Bug"
**Describe the bug**
When tries to complete the 2fa he opens a blank screen

**Screenshots**
If applicable, add screenshots to help explain your problem.

https://user-images.githubusercontent.com/86632157/154534932-e9f1292c-8e8e-4c39-b240-4f464f72734e.mp4

**Smartphone (please complete the following information):**
 - Device: iOS
 - OS: 5.5b128

**User ID**
user key 8184ef68640704b8151bf7db55cd60

[2022-02-17 17:42] madtocc commented on #479
It seems like the user clicked on the Camera button, not on the Gallery (that's why it popped the camera and didn't open the gallery). If the user clicks outside the options, it pops the modal.
I am able to take a photo and open the gallery as usual in the latest version (5.5b128).

[2022-02-17 17:56] madtocc commented on #480
Fixed, it will be available in the next version.
The user still can set up the 2FA, he needs to go settings ->2FA setup

[2022-02-17 18:03] Catherineanne91 opened #481 "Featured NFT in the Admin Panel does not show in the App"
NFT is featured in the Admin panel by clicking Product Detail> Feature
but NFT does not show in the "featured" items in the app

NFT:
https://admin.curate.style/product/628055b38756a24e5273ab0d/detail
![mark jenkins](https://user-images.githubusercontent.com/93180831/154542272-42a3edb0-26b0-4075-acb5-22a5b5dd9c6d.png)

[2022-02-18 00:14] TheOneXi commented on #418
Let me know if you have any questions @madtocc

[2022-02-18 02:13] Catherineanne91 opened #482 "Error when trying to enable 2FA"
A grey screen appears when user tries to enable 2FA

To reproduce:
1. Go to profile > Settings
2. User will be prompted to enable 2FA
![273728618_283263567228308_8374965743536507098_n](https://user-images.githubusercontent.com/93180831/154604254-558a9145-925c-4c16-b96b-4e065bf9157c.jpg)
3. Click "Add 2FA"
4.  A grey screen will appear (see image below)

![273627822_1462075547581786_828283664491547

[2022-02-18 17:31] Catherineanne91 opened #483 "User Cant Withdraw Solana nor Use Solana to Buy XCUR"
1. User tries to withdraw SOL: App shows "Transfer Fail"
2. User tries to use SOL to buy Xcur: App shows "internal server error"

5.5, iOS
user Email: rene.korss@gmail.com

[2022-02-21 01:27] eventang2015 commented on #472
@Catherineanne91  can he try again? we're using quicknode pro instead of ankr rpc.

[2022-02-21 07:14] toomingos opened #484 "API Key Questions (ongoing)"
This is a message from a collection that wants to mimic the minting app experience with our API key:

"We have to make the following logic on our web page: the user chooses the amount of NFTs to mint and clicks on the mint button.
This action should charge the user and then mint NFTs after successful payment. As I understand the algorithm on our web page should be the following:
1) Make a Register

[2022-02-21 09:42] TheOneXi commented on #244
- Funds need to be staked for tiers to get enabled for that user
- UX is required: display the users tier level on the wallet page (this is helpful for sellers to know which level they are on)
- If funds not staked, current model applies (i.e 4% commission and paid XCUR only)
- No rewards if 0% commission (i.e diamond level)
- Stake boosting NFTs won't impact the tier discounts as it's only for mu

[2022-02-21 11:15] DefiHunter opened #485 "Decentralised NFT Marketplace = Curate DM (decentralised marketplace)"
Decentralised NFT marketplace for Curate with metamask & Wallet connect features running on Ethereum

All the base features of opens & LooksRare

UX will use the updated desktop app

[2022-02-21 11:46] Catherineanne91 opened #486 "Error Appears when withdrawing ETH"
01-210222

Email: t.quang@me.com
Version/OS: 5.5.0b128 iOS on an iPhone 11

Description: User can not withdraw ETH (error Occurs after encoding authetnicator pin)

To reproduce:

1. Go to Account
2. Click Eth
3. Click Withdraw
4. input external Ethereum and amount to withdraw
5. Enter Authenticator App pin > click complete withdraw

Error Appears: (see image below)
![unnamed (4)](https://user-imag

[2022-02-21 15:13] TheOneXi opened #487 "Process NFT Import in Bulk"
Can you process 10 NFT imports please:

The below NFTs were sent to xcur.eth:

https://etherscan.io/tx/0xde661b3294e1680916c9d4ef8b4b618e70befe05ffe70b89db47435659826420

Token ID from 146 to 155

Contract address is: 0xDBfC52812538eea9Bf7Ab44aF1D4d37b596255DA

User email: admin@btfd.quest

Royalty : 6%

Will update with collection to be added to soon

[2022-02-21 16:08] DefiHunter commented on #485
Primary Currency - ETH or XCUR (utility tiers)

Would we be able to include the new XCUR later down the line when its ready?

[2022-02-22 02:22] breaddog commented on #448
Hi @curateproject,

Could I get a channel id for the discord channel which you intend for the bot to send updates to please? This could be a new channel that is designated for sales transactions for example.

We are testing the bot in staging and will provide an invite link for the bot later on for the server.

To get the channel ID for Discord
- User Settings (Cog on the bottom left)
- Advanced
-

[2022-02-22 03:02] pellarboss commented on #484
correct, it will be charged automatically as users mint, but the user wont have funds, here is another flow to consider:

Say the Site is ABC
1. ABC creates a user - abc_user
1. abc_user creates all the products from ABC
1. funds are deducted from abc_user

This process will save ABC from managing all many user's account and their token management will be much easier (since you only need to manage

[2022-02-22 03:33] eventang2015 commented on #487
imported, will update Royalty on edit page after imported

[2022-02-22 03:49] eventang2015 commented on #481
it's not featured.
I set it to featured now.

[2022-02-22 03:52] eventang2015 commented on #442
@madtocc  apis are implemented.  please check postman

[2022-02-22 03:54] eventang2015 commented on #478
@Catherineanne91  done. updated those collection to removed=true, updated those products collection to null.

[2022-02-22 05:20] eventang2015 commented on #487
Done

[2022-02-22 07:10] toomingos commented on #474
@pellarboss do we need to move this to March? Just need to know what we should add to a doc, we'll set up everything else

[2022-02-22 07:17] pellarboss commented on #474
@toomingos as per #484 - you can mint that way :)
so theoretically this ticket is complete.

For any additional development (if required), we wont have the capacity to take it on in this milestone (Feb).

[2022-02-22 09:10] eventang2015 commented on #483
@Catherineanne91 I tried do a withdraw and commit.
https://solscan.io/account/6fKhRu2UVejrctktW9tKfn5Firu4pPVQBXTk7GwV99Hk
withdraw ：https://solscan.io/tx/3wSLMB6Ps2gTmM8ziywjbiyvkKwH8o9hiJrSA2K6sFTGs9Nm3EQsHKfFq1iTzZssfYX644wxnHYd5feDG5bicRpw
commit : https://solscan.io/tx/4qq88wnrZAoBgH5b5CKkZbyc6agBYAEfaYVRrGRkM5itaebdhqma8mzr63bbqy2VTDvop9WSH49AGpx8NvT4nrqL
I got an error when calling sol netw

[2022-02-22 09:17] eventang2015 commented on #477
@madtocc implemented in federation(staging).
you can check - if( item.owner  ==  current_user.key && item.userkey ==  current_user.key ) then display the edit button.

[2022-02-22 09:52] toomingos commented on #484
They've cameback and said:

I have one more question regarding Create Product request's payload:
1) "main_image" is the url of NFT image, right? Can we use URLs from Pinata then? (https://gateway.pinata.cloud/ipfs/bla-bla-bla.png)
2) What is the way to add image metadata to the product? Every image in our collection has its metadata with traits and things. We also store metadata on Pinata

![image

[2022-02-22 09:52] toomingos commented on #474
Ok got it, thanks

[2022-02-22 09:52] #474 closed, assigned to pellarboss, eventang2015

[2022-02-22 14:50] TheOneXi commented on #487
Can you add these NFTS to the collection: 'BTFD Chads' @eventang2015

[2022-02-23 02:18] Catherineanne91 opened #488 "Change Automated Email Sent to Users when Admins give a Warning Strike"
Currently, When  admins give a strike to the user, he automatically receives an email about it with the reason.

Let us make changes in the email that users receive, so they know if they are given a strike, they need to email back to us. (See image below).  Add the phrase "**If you believe this is a mistake, please e-mail us a proof-of-work at support@curate.style"** after the strike reason.

![2

[2022-02-23 03:17] pellarboss commented on #484
1 - the main image is a HTTP POST (when you upload the file) - this is not a IPFS link (we need the file)
2 - include "attributes", here is an example
[code]

[2022-02-23 06:54] Catherineanne91 opened #489 "Move NFT to a user's collection"
User requests to move his minted NFT named **Hey it's Irish** to his collection **"First42"**

Product key: https://admin.curate.style/product/afff412335f59586fcb6f1aa/detail
Collection: https://admin.curate.style/collections/5642f265f5d0446c4cecb07e
User: homerread@gmail.com

[2022-02-23 07:46] eventang2015 commented on #487
done

[2022-02-23 07:49] eventang2015 commented on #244
@curateproject
![image](https://user-images.githubusercontent.com/28645146/155279228-0f2bff36-4972-4a90-9f18-c4ed65eb4662.png)
from my understanding -  the commission fee = platform fee ,correct?

[2022-02-23 08:15] TheOneXi commented on #244
Yes correct

[2022-02-23 09:46] DefiHunter commented on #485
**Token Staking**
* XCUR will be placed in a wallet to be distributed as staking rewards to XCUR stakers. This wallet will be funded each month, Stake boosting NFTs will apply within the staking pool and allow users to achieve a higher return than the base APY. 
* Rewards will run for a 2 year period, after which platform fees are expected to sustain this model
* Formula = (Amount  of XCUR Staked/

[2022-02-23 09:48] DefiHunter opened #490 "Tokenomics"
Below as discussed Roy

new token
deploy on ETH / BSC = OK
bridge contract = OK
site for interaction with bridge contract = OK
Token & Liquidity migration to New Smart contract (BSC & ERC - 20)

[2022-02-23 10:27] DefiHunter commented on #388
This would be decentralised , Roy we could use 721b

[2022-02-23 10:37] DefiHunter commented on #485
Default currency - BNB & XCUR
Supported Chains on Day 1 - BSC
Supported wallets - Wallet connect & Metamask
To support chains - ALGO & ETH & GLMR
Royalties - Set by users 1 - 10%
Platform fee - 2%
Rebate - 1%
This rebate fee to be added to the XCUR staking pool, Charged in the payment currency. Potential for users to earn a multitude of coins
User Pays Gas fees

Platform to feature all the feature

[2022-02-24 02:59] eventang2015 commented on #425
yes  he has insufficient funds in remote wallet https://etherscan.io/tx/0xda72984b3cb6b6e91585c967abeb1f7aa1210bc8a08f6365fb396f8251e4f68f
we will send him 185.19500786 XCUR, and I will adjust his eth balance locally.
@pellarboss FYI

[2022-02-24 03:10] eventang2015 commented on #425
synced his eth balance https://admin.curate.style/accounts/96b5bf406da5cbd4d82080b94e25fbb46df2
sent him xc20  https://admin.curate.style/accounts/eb2ccba982e8a56226d77da5afba53a5d2e4
@Catherineanne91

[2022-02-24 20:39] toomingos commented on #484
Thank you!

[2022-02-25 10:55] DefiHunter commented on #490
Updated Plan

Deploy on BSC
Token & liquidity migration on BSC (Old to New)
Bridge contract - XCUR ETH Old -> XCUR BNB New and vice versa
Site for interaction - migration.curate.style

[2022-02-25 10:57] DefiHunter commented on #485
Above remains the same - Deploy on BSC and change ETH to BNB

[2022-02-25 10:57] DefiHunter commented on #485
Paid for with additional capacity

[2022-02-25 11:42] TheOneXi commented on #490
Option to unstake tokens from 31st March until 14th April

[2022-02-25 20:33] toomingos commented on #484
From another collection:

"I'm getting 403 Forbidden error when i run this code. I guess there is missing API key for complete the request. I changed data part with my own credentials"

var axios = require('axios');
var qs = require('qs');
var data = qs.stringify({
  'email': '[john.smith@gmail.com](mailto:john.smith@gmail.com)',
  'password': 'Test123'
});
var config = {
  method: 'post',
  url:

[2022-02-26 09:32] pellarboss commented on #484
@eventang2015 please provide API example in curl

[2022-02-26 12:56] Catherineanne91 opened #491 "Show list of Accounts that Liked a Specific NFT in the Admin Panel"
Issue:

Reports are made against Sellers that create several fake accounts to like their own NFTS. To help Admins investigate on these reports, it will be helpful if Admins can easily see a list of the accounts that like a specific NFT

See image A for the additional column in the Product List that shows the number of likes for each Approved NFT
![image A](https://user-images.githubusercontent.com

[2022-02-27 17:53] TheOneXi commented on #467
Thanks just a question @pellarboss

Question: Is there a need for a minimum? If not can we can remove the minimum for all tokens when trying to convert into XCUR?

[2022-02-28 09:15] toomingos opened #492 "Transfer NFT to Giveaway Winner"
NFT: 5f09bb50e3fe9544c8c4e7f6

Winner: a46ead6a647552f37fc30484551727d9a1b3

[2022-02-28 09:29] eventang2015 commented on #492
Done @toomingos

[2022-02-28 09:39] eventang2015 commented on #489
Done @Catherineanne91

[2022-02-28 10:04] eventang2015 commented on #488
implemented in staging.

[2022-02-28 10:07] DefiHunter commented on #245
How is this coming along ?

[2022-02-28 10:19] TheOneXi commented on #448
Here it is @breaddog

947585540251856906

[2022-02-28 10:25] eventang2015 commented on #292
@toomingos can you clarify this?
top 10 creators/collections/sellers etc...?

![image](https://user-images.githubusercontent.com/28645146/155966424-1a6c5d66-d317-4839-85bc-ea9344a70f53.png)

[2022-02-28 10:27] eventang2015 commented on #245
@DefiHunter we have added SOSX and USDXC and we will test several days in staging.

[2022-02-28 10:28] toomingos commented on #292
Yes ofc, so we thought about haing those 3 options so people can filter depending on their interests. For Collections it's pretty straight forward, you rank based on each collection. For Creators you rank users who minted and their primary market sale (the NFT 1st sale) . For Sellers is just general volume, so NFTs they sold and bought should go onto trading volume

[2022-02-28 11:24] DefiHunter commented on #490
Deposit bonus - 10% Bonus from migration day for users who deposit funds into the curate app.
Bonus funds are locked for one month on the platform and not spendable.

Open to deposits on bep20 and erc20

[2022-03-01 10:09] DefiHunter opened #493 "Deposit Bonus - Tokenomics"
Enable a 10% deposit bonus from the 31st March for the new XCUR Bep20 contract and old XCUR ERC20

Users who deposit XCUR from the 31st March would receive a 10% deposit bonus

The Bonus would be locked for 1 Month and users would need to maintain their deposit in the account for this time to remain eligible.

[2022-03-01 10:37] Catherineanne91 opened #494 "Delete Collection "Footazo""
user email:  muharremyayla0077@gmail.com
User wants to delete the collection "Footazo"
Collection: https://admin.curate.style/collections/2b7593865832cb39731578e4

There are currently no NFTS in the collection but can't be deleted  from the Admin Panel (see image below)

![footazo](https://user-images.githubusercontent.com/93180831/156153723-d1b0fd80-cf99-497a-b453-78a1bbeca756.jpg)

[2022-03-01 11:11] eventang2015 commented on #494
oh, there're 9 denied items in this collection. fixed in staging.
collection is removed.

[2022-03-01 11:21] eventang2015 commented on #472
@Catherineanne91  NFT: Silly Billys 022 - https://admin.curate.style/product/62685a1702c570981363e437/detail
 owner is https://admin.curate.style/users/3cf0cd74b7239610d5b8ffd4066199d163f8
and woozy00woo@gmail.com have no SOL coins .
https://solscan.io/account/7HRf8fe57x1cTiwHWDqH9sTQ5NMtHmgbrLPRruot7WUj
I didn't find a user with [bradley00reed@gmail.com](mailto:bradley00reed@gmail.com) in system.

[2022-03-01 21:45] TheOneXi commented on #314
Integrate ZK rollups to offer low fee tx trading

[2022-03-01 23:02] TheOneXi opened #495 "MoonPay Error"
Moonpay error shows after clicking on 'deposit USDC' and then clicking on the moonpay button:

Testing v5.7 production build using user: jmshkm100@gmail.com on android

![Screenshot_20220301-225942_CURATE DEV.jpg](https://user-images.githubusercontent.com/51517619/156263281-e07bebe4-84d8-47eb-9d40-8ac763ebe19d.jpg)

[2022-03-01 23:07] TheOneXi opened #496 "Stats Page Error"
In v5.7 production build I get the following error when selecting an NFT and clicking on staking button (video is below)

![Screenshot_20220301-225854_CURATE DEV.jpg](https://user-images.githubusercontent.com/51517619/156263437-745e4864-a852-45e0-a317-62dfde5318e2.jpg)

https://user-images.githubusercontent.com/51517619/156264473-08ccf3b8-ebac-4698-b3e7-e942f7465eaa.mp4

[2022-03-01 23:12] TheOneXi opened #497 "Tier and Commission does not show"
Testing v5.7 production build APK and the tier and commission does not show for my profile (user: jmshkm100@gmail.com)

![Screenshot_20220301-220931_CURATE DEV.jpg](https://user-images.githubusercontent.com/51517619/156263445-8593204f-4909-4e96-a6c7-f4345050061e.jpg)

[2022-03-01 23:14] TheOneXi opened #498 "Profile page stats button shows an error"
When clicking on the staking button on my profile page I get the following error (user: jmshkm100@gmail.com) - testing v5.7 production build APK

![Screenshot_20220301-220906_CURATE DEV.jpg](https://user-images.githubusercontent.com/51517619/156263466-65c8b7d3-76d7-4435-a62c-38d99dc959ca.jpg)

[2022-03-01 23:17] TheOneXi opened #499 "Offers tab showing error on profile page"
Offers section on profile page shows the following error (testing v5.7 APK build with user: jmshkm100@gmail.com)

![Screenshot_20220301-220920_CURATE DEV.jpg](https://user-images.githubusercontent.com/51517619/156263455-8c22a943-9ef9-4418-84da-1da79afb0d7e.jpg)

[2022-03-02 07:33] Catherineanne91 opened #500 "User Can't type decimal point when buying XCUR"
The app does not allow the user to enter decimal point when trying to buy XCUR using Solana

To reproduce:

1. Go to wallet
2.  Click XCUR > BUY
3.  Select Solana
4. Enter "0.9"

User cannot enter 0.9

Email: costaricaman@hotmail
OS/version: 5.5.0b128 iOS

https://user-images.githubusercontent.com/93180831/156315355-4171d95a-5a22-4cc2-918a-89644f2a8b9c.MP4

[2022-03-02 08:36] Catherineanne91 opened #501 "Can't edit description in a User's NFT from the Admin Panel"
User wants to change description to:

x-curfire #19

[ ♂ = ▲ ]
[ ♀ = ▼ ]

created by Weerasak Uthong ( Outvivi )

Nothing Happens when Trying to change the description from the Admin Panel

https://admin.curate.style/product/816ac8a9c3446639c3ebae92/edit

[2022-03-02 10:57] TheOneXi opened #502 "Show Staking Rewards"
Now that 60 days have passed since staking started, can you display the XCUR token rewards for the 60 days staked so far on the staking page and add this to the user balance

and add a message on the staking page 'staking rewards paid every 60 days to your wallet or sooner if the round ends before 60 days (next round end date scheduled for 31st March).

[2022-03-02 10:58] #495 closed, assigned to pellarboss

[2022-03-02 10:58] #496 closed, assigned to pellarboss

[2022-03-02 10:58] #497 closed, assigned to pellarboss

[2022-03-02 10:58] #498 closed, assigned to pellarboss

[2022-03-02 10:58] #499 closed, assigned to pellarboss

[2022-03-02 11:13] TheOneXi commented on #245
Testing on staging, require the following tweaks @pellarboss @madtocc

1. Price currency on mint page (and list P2P item) should be in USD not XCUR
2. Messaged needs to be updated at the bottom of the mint page (and list P2P item) page:

_Commission breakdown:
If your item sells for 100 USD, Curate takes up to 4% (based on your commission tier) i.e up to 4 USD if the buyer pays in XCUR. If a buyer

[2022-03-02 11:14] TheOneXi commented on #442
Just to confirm @madtocc can an offer be made all NFTs even if not for sale? As I don't see it available for the bored apes or punks (we would like offer enabled if possible) @pellarboss

[2022-03-02 11:15] #463 closed, assigned to eventang2015

[2022-03-02 11:16] #471 closed, assigned to eventang2015

[2022-03-02 11:16] #441 closed, assigned to TheOneXi

[2022-03-02 11:56] #433 closed, assigned to Catherineanne91

[2022-03-02 11:56] #399 closed

[2022-03-02 12:02] #409 closed, assigned to Catherineanne91

[2022-03-02 12:02] #398 closed

[2022-03-02 12:03] #413 closed, assigned to Catherineanne91

[2022-03-02 12:06] #417 closed, assigned to Catherineanne91

[2022-03-02 12:06] #421 closed, assigned to Catherineanne91

[2022-03-02 12:06] #440 closed, assigned to toomingos

[2022-03-02 12:10] #444 closed, assigned to TheOneXi

[2022-03-02 12:10] #446 closed, assigned to DefiHunter

[2022-03-02 12:22] #447 closed, assigned to DefiHunter

[2022-03-02 12:22] #445 closed, assigned to Catherineanne91

[2022-03-02 12:22] #160 closed

[2022-03-02 12:23] #382 closed

[2022-03-02 12:23] #391 closed

[2022-03-02 12:24] #385 closed

[2022-03-02 12:24] #404 closed, assigned to TheOneXi

[2022-03-02 12:24] #443 closed, assigned to toomingos

[2022-03-02 12:25] #438 closed, assigned to eventang2015

[2022-03-02 12:25] #449 closed, assigned to toomingos

[2022-03-02 12:25] #450 closed, assigned to TheOneXi

[2022-03-02 12:25] #451 closed, assigned to Catherineanne91

[2022-03-02 12:25] #452 closed, assigned to Catherineanne91

[2022-03-02 12:25] #453 closed, assigned to TheOneXi

[2022-03-02 12:25] #454 closed, assigned to TheOneXi, DefiHunter

[2022-03-02 12:25] #456 closed, assigned to toomingos

[2022-03-02 12:25] #460 closed, assigned to TheOneXi

[2022-03-02 12:25] #461 closed, assigned to toomingos

[2022-03-02 12:25] #462 closed, assigned to Catherineanne91

[2022-03-02 12:25] #464 closed, assigned to eventang2015

[2022-03-02 12:25] #465 closed, assigned to Catherineanne91

[2022-03-02 12:25] #467 closed, assigned to TheOneXi

[2022-03-02 12:25] #469 closed, assigned to DefiHunter

[2022-03-02 12:25] #470 closed, assigned to toomingos

[2022-03-02 12:25] #472 closed, assigned to Catherineanne91

[2022-03-02 12:25] #478 closed, assigned to eventang2015, Catherineanne91

[2022-03-02 12:25] #479 closed, assigned to toomingos

[2022-03-02 12:25] #480 closed, assigned to toomingos

[2022-03-02 12:25] #481 closed, assigned to Catherineanne91

[2022-03-02 12:25] #482 closed, assigned to Catherineanne91

[2022-03-02 12:25] #483 closed, assigned to Catherineanne91

[2022-03-02 12:25] #487 closed, assigned to TheOneXi

[2022-03-02 12:25] #488 closed, assigned to Catherineanne91

[2022-03-02 12:25] #489 closed, assigned to Catherineanne91

[2022-03-02 12:25] #492 closed, assigned to toomingos

[2022-03-02 12:25] #494 closed, assigned to Catherineanne91

[2022-03-02 16:06] madtocc commented on #442
Yes, James, you can make an offer to any nft. As long as it is not for sale.
from https://github.com/pellartech/curate/issues/442#issuecomment-1041090149

Currently, you can't make an offer to the bored apes or the punks since it is not deployed to production only for staging.

[2022-03-02 17:24] TheOneXi commented on #442
What about an NFT currently on sale (buy it now or auction)?

Can we enable make an offer for those too? @madtocc

[2022-03-02 17:33] madtocc commented on #442
sure

[2022-03-02 17:34] TheOneXi commented on #442
Great thanks

[2022-03-03 07:48] Catherineanne91 opened #503 "User cannot deposit via creditcard"
02-030322

User can not deposit via creditcard
email: curatenft123@outlook.com

To reproduce:

1. Go to wallet
2. Click usdc
3. Click deposit > Card Deposit
4. enter amount
5 Enter creditcard details > Click complete purchase
6. Error appears as shown

![image (19)](https://user-images.githubusercontent.com/93180831/156519542-28b8e4cb-9bce-4872-a842-6fef4b06aeec.png)

Expected outcome:
Should be a

[2022-03-03 16:37] madtocc commented on #500
Oh, it took me a while to find the issue. We are using decimals with dot format and the user probably has a number formatted with comma. I fixed this and it will be available in the next update. What the user can do for now is change his system language to a language that uses a dot as decimal places (like English - US).

[2022-03-03 16:48] TheOneXi commented on #500
@Catherineanne91 take note

[2022-03-05 00:01] Catherineanne91 opened #504 "SOL deposit shows twice in Transaction History"
User deposited 0.56 SOL on February 8 2022. The App shows two deposits for 0.56 (February 8 and February 7)

To replicate:
1. Go to wallet
2. Click Sol > Deposit
3. Deposit history shows two deposits of 0.56  as shown below

![unnamed (5)](https://user-images.githubusercontent.com/93180831/156857533-471ace4f-0b70-4b8f-a9e7-5e23aad974d3.png)

In the admin panel, there's only one transaction of 0.56

[2022-03-05 15:52] TheOneXi opened #505 "Show commission tiers table"
When clicking on the tier level or comission can show the commission tiers so users know each level offers

![Screenshot_20220305-154847_CURATE DEV.jpg](https://user-images.githubusercontent.com/51517619/156890639-3a9e0ddc-d0d5-4205-b5d8-6f4d03c1a58e.jpg)

![all in one table.png](https://user-images.githubusercontent.com/51517619/156890642-2d0d0c36-ef32-4e42-bd06-8cb2b1651202.png)

[2022-03-06 22:07] breaddog commented on #448
Thank you,

Please invite the bot to your server through the following link, the permissions have been setup so the bot can only send messages to the supplied channel id.

https://discord.com/api/oauth2/authorize?client_id=943397596456685618&permissions=2147535936&scope=bot

If you would like to change the channel the bot will be providing updates to, please provide a new channel id and we can cha

[2022-03-07 05:30] pellarboss commented on #503
USDC is currently disabled

[2022-03-07 05:33] pellarboss commented on #231
Ledger Live theoretically is self custody, where XCUR is centralised (managed custody), this wont really work

[2022-03-07 05:51] pellarboss commented on #502
staking should be automatically issued and released, please review :)

[2022-03-07 16:11] TheMad-J-Hatter opened #506 "Admin User Panel - Filter Button"
**Describe the bug**
We would like a simple way for the admin team to select and delete users' accounts. This will be achieved by filtering users by strike type.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://admin.curate.style/'
2. Click on 'Users'
3. See options tabs (All Users, Verified, Not Verified etc.)
4. We want another 'Filter' tab for this enhancement.

**Expected b

[2022-03-07 23:59] pellarboss commented on #378
@curateproject any updates on this?

[2022-03-08 00:19] pellarboss commented on #506
Hmm, mass delete button is dangerous
should we add the delete button to the profile page? only for super admins?
bear in mind, a delete will freeze all assets belonging to a person, it should be used with care

adding a filter for "Strike" is very doable

[2022-03-08 01:39] eventang2015 commented on #501
@Catherineanne91 I updated the description
`"description" : "x-curfire #19\r\n\r\n[ ♂ = ▲ ]\r\n[ ♀ = ▼ ]\r\n\r\ncreated by Weerasak Uthong ( Outvivi )",`.
I think it's because the minmum price in system is 10 XCUR

[2022-03-08 01:55] eventang2015 commented on #484
@toomingos no need to use qs.stringify()
here is a piece of code , and it works for me .
`const axios = require('axios')
const instance = axios.create();
instance.defaults.baseURL = 'https://federation.curateapi.io';
instance.defaults.headers.post['Content-Type'] = 'application/json';
instance.defaults.headers.post['Accept'] = 'application/json';

async function login() {
    const payload = {

[2022-03-08 10:19] TheMad-J-Hatter commented on #506
Hey Roy,

This is exactly what is needed imo.

I don't think a delete per profile is the right way to go, it will take too long considering there are loads of spam accounts with stolen NFTs. So perhaps this 'mass delete' feature is only available to super admins (as mentioned) and you can only delete when the accounts are on their final strike? i.e. Filter by Strike 4 > delete button becomes avail

[2022-03-08 15:25] TheMad-J-Hatter opened #507 "Auto-renew feature for Staking"
Provide app users a check box to auto-renew their staked XCUR when our new staking model launches.

Currently, there will be a 30-day lock-up period but it would be good to allow users to check an auto-renewal if they choose.

[2022-03-09 00:24] pellarboss commented on #506
@TheMad-J-Hatter
i think there is a ticket for automatic collection deletion
when a user is locked, their NFTs are taken out of the market - from @Catherineanne91

mass delete is ok per suggested, lets implement - @eventang2015

[2022-03-09 09:34] eventang2015 commented on #491
implemented .

[2022-03-09 09:57] DefiHunter opened #508 "Home Page, Weekly & Trending"
Roy & Marco

Lets make the home page weekly and Trending only for verified artists.

If an artist is not verified he cannot be part of the algorithm

[2022-03-09 11:12] Catherineanne91 opened #509 "Creator needs to airdrop his NFT's to other Curate Users"
Creator wants to airdrop NFT's to his followers after his giveaway. He needs assistance in transferring to the following users, the following NFTs':

Winner #1:
https://admin.curate.style/users/463fbc5d6f707b1ae9547175159e58df48ac
NFT:
https://admin.curate.style/product/62685a1702c570981363e437/detail

Winner #2
https://admin.curate.style/users/42579a0107c9978a732fce419944e4fd15fe
NFT:
https://adm

[2022-03-09 11:27] Catherineanne91 opened #510 "Users experience poor resolution of NFT's in mobile app"
Users complain that sometimes, the NFT's in the app will show poor quality.
User OS: Android v5.50b128

Sample of NFTs showing poor resolution at the screenshot below:

![photo_2022-03-08_09-30-47](https://user-images.githubusercontent.com/93180831/157431815-1d6be4f3-e537-48ef-8edf-b6700df55f1a.jpg)

![Screenshot_2022-03-08-09-31-59-686_app wallet curate](https://user-images.githubusercontent.com/

[2022-03-09 14:33] eventang2015 commented on #508
@DefiHunter implemented.

[2022-03-10 02:14] eventang2015 commented on #435
updated to search collection.items_count>0 only in app.

[2022-03-10 03:15] eventang2015 commented on #335
@madtocc
`{
    "type": "WITHDRAW_XCURP",
    "amount": 999,
    "fee": 0.16,
    "platform": "BSC",
    "destination_address": "0xE90cf333E77059e975510A7E0c855C740f38c1dc"
}`

[2022-03-10 13:50] TheMad-J-Hatter opened #511 "Staking - Auto-renew & compound feature for new staking model"
**Describe the feature**
To create two new features for the new staking page in-app.

1. The user has the ability to select an auto-renew check box to re-list their staked XCUR. Currently, there is only a manual 30 days lock-up without the ability to renew.
2. A second check box will also be available to compound their XCUR rewards into the next 30-day staking round (if auto-renew is selected).

[2022-03-11 13:51] madtocc opened #512 "Offers - Add reject offer"
Allow the owner to reject an offer.

![image](https://user-images.githubusercontent.com/12486417/157880392-59b43daa-04f0-4e7a-a364-83467ca48309.png)

[2022-03-12 09:42] Catherineanne91 opened #513 "Allow creators to Edit Collections & NFT's"
### COLLECTIONS
Allow creators to edit collections:

1. Change collection description
2. Change collection banner
3. Change collection photo
4. Delete Collection (when there is no NFT minted within the collection)
![allow edit collections](https://user-images.githubusercontent.com/93180831/158012739-4dd21b3d-2931-4b1e-864a-48f074778ec1.jpg)

### NFT's

Allow creators to edit NFTs':
1. Description

[2022-03-12 09:59] Catherineanne91 opened #514 "Allow Admins to view Users' Staking Information in the Admin Panel"
Allow admins to view the following information for users staking in the admin panel:

- Staking rounds Start (Date time)
- Staking Round End (Date, time)
- Amount STaked
- Rewards

[2022-03-12 10:42] Catherineanne91 opened #515 "Search Tool for Reviewing NFTs in the Admin Panel"
### Current Situation:

Some NFT's (mostly high quality 2D nd 3D digital painting) require a thorough search in multiple websites for admins to check for stolen works.  The reviewing Admin will have to open several tabs, and may sometimes miss some websites.

### Purpose

- For Admins to effectively review for copyright violations on a specific NFT under review
- For Admins to have easy access of

[2022-03-13 22:30] pellarboss opened #516 "BSC Migration"
**Migration page wireframe**
https://whimsical.com/migrate-curate-21LJ6dXDcFeeBrRSJshBzF

**Layout**
We will implement following this layout
https://finance.curate.style/

**Mechanics**
Users will have their bonus tokens locked?
They can claim it in 30 days of time?
ie: if migrate 10K XCUR on Apr 2nd, they can get 10K XCUR immediately, then come back and get their bonus on May 2nd?

[2022-03-13 23:48] pellarboss commented on #486
please double check if this is resolved in V6

[2022-03-14 02:02] eventang2015 commented on #476
using new statisitics

[2022-03-14 02:18] eventang2015 commented on #509
@Catherineanne91 done.

[2022-03-14 07:01] eventang2015 commented on #512
@madtocc PUT `/offers/:key/reject`

[2022-03-14 09:15] eventang2015 commented on #514
implemented in staging

[2022-03-14 09:23] eventang2015 commented on #511
for incomplete stakes, user can select option to auto re-new for 30 days and only once?

[2022-03-14 09:39] TheMad-J-Hatter commented on #511
If I understand your question, if the user is currently staking or not, they should be able to toggle the auto-renew on or off. If switched on, the 30-day staking will commence again automatically.

For example, in the attached image from Nexo, they have a check box to allow an auto-renew. As long as the auto-renew is selected, the staking will continue to roll-over month after month.

A second ch

[2022-03-14 11:59] DefiHunter commented on #516
*Mechanics*
Users will have their bonus tokens locked?
Yes

They can claim it in 30 days of time?
Yes

ie: if migrate 10K XCUR on Apr 2nd, they can get 10K XCUR immediately, then
come back and get their bonus on May 2nd?\

yes this example is correct

On Sun, Mar 13, 2022 at 10:30 PM Roy Hui ***@***.***> wrote:

[2022-03-14 12:14] DefiHunter opened #517 "New Staking Round"
Staking begins - 17th April

Time fram - Indefinite until Paused

30 Day lock ups - Option to enable Auto renewal

NFT Stake boosts Applicable

To follow New Tiers

Standard - 10%
Bronze - 12%
Silver - 14%
Gold - 16%
Platinum - 18%
Diamond - 20%

[2022-03-14 12:22] DefiHunter commented on #517
![IMG_EA06C7F3756B-1](https://user-images.githubusercontent.com/72095738/158171265-c9727bdd-33eb-4a6d-aeec-430dc6c4d440.jpeg)

[2022-03-14 16:42] TheMad-J-Hatter opened #518 "NFT Offer automatically accepted without being accepted by user."
**Describe the bug**
Someone made an offer on the Gold Backback Stake Boosting NFT (5 of 5) and the Curate app accepted this offer without the user approving this sale.

The user in question is george.aldous@hotmail.com, and he received an email from Curate saying that he had received an offer on his NFT (see screenshot). He lives in Canada and had not received the app store update for Curate vers

[2022-03-15 01:37] eventang2015 commented on #518
@TheMad-J-Hatter that's because someone made an offer against that item. and the owner will receive a notification email.
`
    "userkey" : "0740746316924703dfb90aa3d43d6db6f097",
    "chatname" : "mhr9900",
    "avatar" : "avatars/avatar.jpg",
    "amount" : NumberDecimal("500"),
    "symbol" : "XCURP",
    "notes" : null,
    "status" : "canceled",
`

[2022-03-15 10:14] eventang2015 commented on #506
added a new list page - https://admin.curate.style/strikes

[2022-03-15 17:40] Catherineanne91 opened #519 "NFT's not showing in Owner's Collection"
User Imported a collection from Opensea to Curate

NFT Collection: Neo Tokyo Punks
Contract: https://etherscan.io/address/0xc65969df2bfd633bf72ef69f5c47756b6884f8f3
Import Date: March 11 2022

**Issue:**
- The user does not see the NFT's when he goes to his profile> collections (see image below)

![image (20)](https://user-images.githubusercontent.com/93180831/158438124-c18fa0ce-5528-4e76-b8aa-d3b

[2022-03-15 17:51] madtocc commented on #519
@eventang2015 please take a look.
Imported NFT, created a collection but the owner is not assigned, double-check, please.
[code]

[2022-03-15 18:50] TheMad-J-Hatter commented on #518
Hey @eventang2015 , thanks for your response. I don't think you understand the issue.

An offer was made on an NFT from User 1, however, User 2 did not approve.

The offer was automatically accepted but NOT by User 2. This is an issue, please can you look into this.

@pellarboss

[2022-03-15 19:19] madtocc commented on #513
regarding the NFT edits, it is not that simple since it can lead to some problems.
A product title edit and name edit could lead to something being approved or not? if so you need to reset the NFT to pending status, correct?

For example, I make an offer to a product:
name: Da Vinci art
description: Leonardo da Vinci's original art.

user can receive an offer and before accepting it, he can change

[2022-03-15 19:31] TheMad-J-Hatter opened #520 "NFT Filter Page Re-designed"
**Describe the feature**
The NFT Filter page has been re-designed to better cater to our marketplace.

**Expected behavior**
Please replace the old filter page with the new re-designed filter page from the Figma file provided. @madtocc please let me know if you require additional information or have any further questions.

**Additional context**
(https://www.figma.com/file/7K8McIi4ZqToPLn2f1pLEF/C

[2022-03-15 19:45] madtocc commented on #510
I don't see any quality issue on footazo on my phone. They are not even the same pictures... This is probably outdated.
![image](https://user-images.githubusercontent.com/12486417/158458408-bda09ea7-860d-4af1-b4b3-a3311e779b7f.png)

We are currently using a thumb-sized image to display the list of NFTs. It is being expanded, so this is causing a tiny image being expanded causing distortion. The th

[2022-03-15 21:39] pellarboss opened #521 "API Docs"
Create a process document for API usage

[2022-03-16 02:14] eventang2015 commented on #518
I mean 'mhr9900' made an offer against the NFT, and system sent an notification email to the owner. (once there's an new offer, the owner will receive a notification email)
actually, 'mhr9900' canceled the offer and purchased the NFT at 750 XCUR.
here's the purchase logs:
https://admin.curate.style/product/27a8dca1e59f73ae4e1c238b/detail

[2022-03-16 03:24] pellarboss commented on #507
@TheMad-J-Hatter Staking is currently on pause till further notice

[2022-03-16 06:12] TheOneXi opened #522 "New Staking Round Details"
All previous staking sessions automatically end on 31st March 0:00 UTC and rewards issued to wallet balance

New deposits open 1st April at 0:00 UTC (24 hours later)

- 30 day locked staking
- Option to auto-renew and compound as per issue #511
- New tiered yields to come into place based on the amount of XCUR tokens **staked** not just XCUR held in wallet (to prevent users gaming the system) - se

[2022-03-16 06:16] TheOneXi commented on #378
Yes @TheMad-J-Hatter will be providing a figma link in the new 1-2 days

[2022-03-16 06:24] #517 closed, assigned to pellarboss

[2022-03-17 12:39] TheMad-J-Hatter commented on #507
Hey @pellarboss, can this feature be ready for our new round of staking beginning in April?

[2022-03-17 12:53] TheMad-J-Hatter commented on #518
Ahhh I understand now, thanks for explaining @eventang2015. So although Mhr9900 canceled the offer, george.aldous@hotmail.com wasn't aware as there was no email that let him know the offer was canceled. This might actually be a good enhancement to include??

So although the NFT was purchased at 750 XCUR (full asking price), george.aldous@hotmail.com only received 683 XCUR +3.75 XCUR reward; this w

[2022-03-17 13:08] madtocc commented on #518
The users currently can see the canceled offers in-app.
I think you forgot about the curate fee, which is 4%

The math seems to be correct to me:
Royalty = 5%
Txn Fee = 4%
rebate = 0.5%
750 - 37.5 - 30 + 3.75 = 686.25

[2022-03-17 14:35] TheMad-J-Hatter commented on #518
Hey @madtocc, I guess this was the initial issue. iOS update had not reached Canada for some reason and he was stuck on V5.5. Therefore could not see the Offers section, hense the confusion.

Thanks for the breakdown, I was completely forgetting the commission of 4%. Thanks.

Issue closed.

[2022-03-17 14:35] #518 closed, assigned to TheMad-J-Hatter

[2022-03-17 15:09] madtocc commented on #412
@curateproject this is for only the users you are following like that notification bell on youtube? or you can subscribe to notifications without following?

[2022-03-18 01:22] eventang2015 commented on #518
currently, if seller has staking , calculates the fees against discount models. otherwise calculate the fees against settings.product_transfer_fee (5%).

[2022-03-18 10:53] Catherineanne91 opened #523 "Increase the number of maximum NFTS to show on Trending, Weekly Picks, Featured NFT's"
Increase the number of NFTS to show on Featured, Trending and Weekly Picks from 10 to 20 NFT's

[2022-03-18 19:06] DefiHunter opened #524 "API Key Features"
Goals
Generate revenue
Allow freedom of movement of NFTs in platform

Fee - Flat fee 10 XCUR
- Payable in other currencies too such as USDC or SOS . Or any other future accepted currencies for NFTs sale

Allow users to transfer NFTs internally

How ?
Enter users unique @ handle , pay the fee and transfer

Would like to get everyone's thoughts

@TheMad-J-Hatter & @toomingos  particularly to Product

[2022-03-18 21:21] TheOneXi commented on #524
I was thinking to offer X free nft transfers/ month for certain tiers

To again push our utility tier model.

Thoughts?

[2022-03-18 21:29] DefiHunter commented on #524
It’s a good idea but How do we make money then ?

System might get abused , but might turn into a system where we only
pushing token appreciation.

I like the idea but maybe we could trial it this way and then maybe
incorporate tiers at a later stage ? Get feedback and then decide

On Fri, 18 Mar 2022 at 21:21, curateproject ***@***.***>
wrote:

--

Moe Carrim

CFO | Curate
www.curate.style

[2022-03-20 12:04] DefiHunter opened #525 "Metamask integration -"
Allow users to deposit & withdraw tokens and NFTs by connecting to metamask.

User pays gas fees

User can connect with browser wallet in app or on desktop

[2022-03-21 03:36] Catherineanne91 opened #526 "Users having problem with uploading MP4 and JPEG to Mint"
**UPLOADING MP4:**
User email:  woozy00woo@gmail.com
user app version:  v.6.0.1b137 Android

To reproduce issue:
1. go to profile
2. go to mint NFT
3.  Upload file and fill in details (price, description, title, etc.)
4.  Click submit for approval
5. User is stuck in the "loading" page for approval
(see image below)
![276075112_999486957408046_2558665572090085810_n](https://user-images.githubuserc

[2022-03-21 05:10] pellarboss commented on #523
please ensure it doesnt conflict with #508

[2022-03-21 05:10] pellarboss commented on #521
https://api.curate.style/ deployed

[2022-03-21 14:53] TheMad-J-Hatter commented on #387
Hey @pellarboss and @madtocc,

Please see the Figma link with the desktop UI designs. There are still a few comments that Alex is yet to complete but we are keen for you to begin and digest what we have so far. Any questions, please let me know.

https://www.figma.com/file/5UZeEkCdlxEIRzpMsJXVvw/Curate-Website?node-id=352%3A31122

[2022-03-21 16:15] Catherineanne91 opened #527 "User Can’t Buy XCUR nor withdraw SOL on iOS"
Description: User can’t trade nor withdraw SOL

**To reproduce:**

**Withdraw:**
Go to Account>SOL
Withdraw
Fill external SOL address, amount to withdraw
Click verify withdraw
Error shows: “transfer fails”

**Trade to XCUR:**
Go to account > XCUR
Click "Buy"
Use SOL, add amount SOL
Click Review Purchase
Click Verify Purchase
Error shows: “Internal server error”

Users experiencing issues:

[rene.k

[2022-03-22 08:47] Catherineanne91 commented on #523
@madtocc , @eventang2015  please include for Featured NFT's (updated the ticket)
so Featured, Trending, and Weekly Picks can be max 20

[2022-03-22 13:34] eventang2015 commented on #523
all limits are 20,  https://github.com/pellartech/curate/issues/508 -- to show items of verifed users.

[2022-03-22 13:36] eventang2015 commented on #526
did he create the NFTs? we can help to upload MP4 in admin site and see how it goes.

[2022-03-22 13:40] eventang2015 commented on #527
wrong balance  in sytem. I will check data tomorrow.
https://admin.curate.style/accounts/69a8f39eaab16bdf70d60c35e6db911c9a6c
https://solscan.io/account/HqU7J8rWkcWN5QgfegwPtHpbpc5UWtDkwb7pvLW8TkiP
https://admin.curate.style/accounts/ed518134b9a60c0f3a701cf96a721d14eb02
https://solscan.io/account/A1zpLfVUchTXHsZjeUX2WP72AacHb7FEeUCKPj8Ho14H

[2022-03-22 14:04] eventang2015 commented on #527
corrected account's balance - https://admin.curate.style/accounts/ed518134b9a60c0f3a701cf96a721d14eb02
imported a withdraw txn - https://solscan.io/account/A1zpLfVUchTXHsZjeUX2WP72AacHb7FEeUCKPj8Ho14H

[2022-03-22 15:30] eventang2015 commented on #527
synced a commit transaction for account - https://admin.curate.style/accounts/69a8f39eaab16bdf70d60c35e6db911c9a6c

[2022-03-22 22:36] madtocc commented on #387
How the UI will look (behave) in a narrower view, like on a phone, or when the user shrinks the window's width?

[2022-03-22 22:59] TheMad-J-Hatter commented on #387
Hey @madtocc, good question. Alex is designing the same UI but for tablet as well however I'm unsure on how this will look when shrunk on a phone. I will have to ask Alex regarding this.

[2022-03-23 06:07] Catherineanne91 opened #528 "Transfer User's NFTs's to Another Collection"
**User email:**
 artabstract100@gmail.com

User wish to transfer the following NFTS:
Skull Humanoid Style # 23
Skull Humanoid Style # 24
Skull Humanoid Style # 25
Skull Humanoid Style # 26
Skull Humanoid Style # 27

From Curator Curate Cards Collection (https://admin.curate.style/collections/8d3cf12595f08cca73298721)

To:
Humanoid Clubhouse:
(https://admin.curate.style/collections/8bda93ea1fa20c3a

[2022-03-23 06:17] Catherineanne91 commented on #526
@eventang2015

He created the NFT's without the mp4

 CC#01 - Chill Out (trippy)
https://admin.curate.style/product/72fb17b1f4e9c1e9ee380f3d/detail

 CC#01 - Chill Out (silver)
https://admin.curate.style/product/209d048be1cb043d5082eee0/detail

 CC#01 - Chill Out (standard)
https://admin.curate.style/product/81a458714de36a4f3fe2fc07/detail

[2022-03-23 07:20] eventang2015 commented on #528
Done

[2022-03-23 07:25] eventang2015 commented on #526
@Catherineanne91  uploaded for him
@madtocc can you check App? it works in admin site.

[2022-03-24 08:06] eventang2015 commented on #507
@TheMad-J-Hatter https://admin.curate.style/stakes  some user's stakings will be completed on May 1st, how to calculate the commission fee ?

[2022-03-24 08:31] Catherineanne91 opened #529 "User's Collections Disappeared after 2FA Reset"
**Issue:**

After the user’s 2FA was successfully reset,  all his NFT’s below are automatically set to “denied” status and is currently not visible in his profile:

https://admin.curate.style/product/3410223c96b70856ff5a58fc/detail

https://admin.curate.style/product/c2cd9ef832935ec6882cd0b4/detail

https://admin.curate.style/product/fff501e47dc44371f77bfee3/detail

https://admin.curate.style/prod

[2022-03-24 09:15] eventang2015 commented on #529
@Catherineanne91 I checked logs, the user locked by you and unlocked by kjssss62@gmail.com.
lock user - will update his Nfts to 'denied', you can reset Nfts to pending status and re- approve on product detail page .

[2022-03-24 10:11] TheMad-J-Hatter commented on #387
Hey @madtocc, Alexey is designing the phone and tablet versions for the desktop which should provide you with the answer of how the UI will look/behave if in a narrower view. I am pushing him to provide me with these designs by Friday or sooner. They should start appearing in the Figma link I provided in the comment above.

Are you still able to progress with the dev work without these for now?

[2022-03-24 10:21] TheMad-J-Hatter opened #530 "General Marketplace UX Development"
**Describe the feature**

This issue is for the development of the new Curate General Marketplace (GenM) app for mobile and desktop.

This issue can be connected to all future GenM GitHub issues created and host the key links, documentation, and information required.

The Figma file will be added to this issue once ready by end of April.

[2022-03-24 13:11] DefiHunter opened #531 "Circle re enabled with 3DS"
Hey Roy and Marco

As discussed let's bring circle back online

Before we do let's enable the 3DS feature , also known as 3D secure . This will help reduce the number of chargebacks and fraud attempts as banks usually deny a refund if 3DS was used in the payment process

So to summarize we shall support 3 payment methods

Moonpay
Circle
Stripe

[2022-03-24 14:51] TheMad-J-Hatter opened #532 "NFT Filter Page Bugs - Release 6.1.0"
**Describe the bug**
A few key bugs that are not working on the new NFT Filter page.

1. When selecting the filter button for a second time (while in the same search session), the filter does not remember my previous choices. For example, if I select 'ON' for Verified Curator's, then 'Apply', then return back to the filter, I have to input all criteria again.
2. When filtering by Verified Curator'

[2022-03-24 15:14] madtocc commented on #532
I was going to push haha, glad you sent this before.
let's go step by step
1- I can't reproduce on iOS or Android video reference:

https://user-images.githubusercontent.com/12486417/159948867-9cd1fe93-8dff-4149-8bed-0b61add023bb.mov

2- Ok, this will be fixed when even is back online

3- When selecting 'Has Offers', there are only 4 results, is this correct? what else have you selected? If you se

[2022-03-24 15:50] TheMad-J-Hatter commented on #532
Hey @madtocc, thanks for your response. I'm glad you didn't submit. Tbh, for all new releases, we should test them prior to release, just in case. Please can you tag me in all new releases and I will do a once over on the new features/enhancements etc.

1. I'm afraid I can't see the video you uploaded. Do you understand point number one or should I create a video for you and Even?

2. Noted

3. No

[2022-03-24 17:23] Catherineanne91 commented on #529
thank you, @eventang2015

[2022-03-24 17:23] #529 closed, assigned to pellarboss

[2022-03-24 18:25] Catherineanne91 opened #533 "Add Ability for Admins to Remove Tags Assigned by Users When Minting NFTs"
**Current Situation:**
Users tag their products to several categories to which their minted NFT's do not belong. This will result to poor search results when using the new filter feature of the app.

**Solution:**

Allow admins to review tags assigned to a product and remove those that do not match their NFT's category.
This will be shown below the NFT, different color , distinguishable from the a

[2022-03-24 19:04] Catherineanne91 opened #534 "Affiliate Program: Allows Users to earn Rewards from Referring an NFT Listing"
**1. Purpose:**
1. For Sellers, its a quick and easy way to increases chances of sales
2. Create new kinds of users in the app, the "Bounty Hunters" that  finds buyers for NFT sellers in the app, and  in return earn Rewards
,

**2. Overview**
The affiliate program offers a "bounty" which allows every user to earn at least 2.5% on successful sales  by referring a listing on Curate Marketplace.

For

[2022-03-24 19:33] Catherineanne91 opened #535 "Change Royalty and Price of all 70 minted NFTs by NeoTokyo Punks"
Owner: https://admin.curate.style/users/31fece84eb1c71b53ab9c11f8ccb46cb9a09
User email: neotokyopunks@protonmail.com

Change All Royalties of all NFT's by the user to 8.5%
Change Price of all NFT's to 30 XCUR

[2022-03-24 19:43] Catherineanne91 opened #536 "Imported NeoTokyoPunks NFT's do not show in the Collection"
The same error occurred from https://github.com/pellartech/curate/issues/519

After importing 70 more NFTs, the newly imported NFTS do not appear inside the Collection:
https://admin.curate.style/collections/0099cc496097902ac50e39c5
Where, only 18 NFTs (first batch of imports) appear in the Collection (see image below)
![275939479_295868675993767_8387446001547469154_n](https://user-images.githubus

[2022-03-25 01:38] eventang2015 commented on #536
@Catherineanne91  updated.

[2022-03-25 01:39] eventang2015 commented on #535
@Catherineanne91  updated.

[2022-03-25 01:56] eventang2015 commented on #507
regarding the new staking logic, can also use boost products ?

[2022-03-25 08:23] DefiHunter commented on #507
Yes
NFT stake boosting stoll apply

On Fri, 25 Mar 2022 at 01:56, Even ***@***.***> wrote:

--

Moe Carrim

CFO | Curate
www.curate.style

[2022-03-25 10:47] TheMad-J-Hatter opened #537 "Imported NFT page enhancement"
**Describe the enhancement**
A clear and concise description of what the bug is.

**Expected behavior**
I'd like to see changes to the NFT Import page:

1. Allow users to create and add their imported NFTs to a collection straight away. The user should be able to create a collection name and add a cover picture to it from the import page. This will mitigate any intervention from the devs later on.

[2022-03-25 10:53] TheMad-J-Hatter opened #538 "Choice of fiat currencies within in-app settings"
**Describe the feature**
Allow users to choose additional fiat currency within the app settings other than USD.

**Expected behavior**
Based on our worldwide user base, I'd like to see us offer:

US Dollar
Great British Pound
Euro
Indian Rupee
Turkish Lira

**Additional context**
Once a user has applied their chosen currency, on all NFT's within the app, it will have the XCUR amount and the chosen

[2022-03-25 11:29] Catherineanne91 opened #539 "Admin Panel: Show List of Products Sold in User Account Details"
Allow admins to see the list of NFTs sold by a user.
By clicking the "PRODUCTS SOLD", it would lead to the list of products sold by the user

![products sold 0](https://user-images.githubusercontent.com/93180831/160112765-b6457aa3-a81c-45df-9f11-5a163a25fb65.jpg)

List of products sold:

![products sold](https://user-images.githubusercontent.com/93180831/160112798-4c9890fb-dc56-43c7-83a6-41311df02

[2022-03-25 13:12] Catherineanne91 opened #540 "Show list of all locked users in the Admin Panel"
Currently, there are two ways to lock a user
A "Lock user" Button above User Management - can set all NFTS of the user to pending
B Lock as a Strike Type

![locking methods](https://user-images.githubusercontent.com/93180831/160126879-500b8a4d-0c9f-40d5-a242-85f5a4673bfc.jpg)

Proposed Improvement.

Include the list of users Locked using Method A, as seen below, among the warnings and strikes

![L

[2022-03-26 13:30] DefiHunter opened #541 "Métis Phase 2"
Import and Export of NFTs are enabled

And Minting of NFTs on Metis blockchain enabled

Add option to select Metis chain when minting - User pays fees

[2022-03-26 18:55] DefiHunter opened #542 "Master Account ( Custody) enhancement"
Improve the Amount displayed figure on the Master account in the admin Panel to show:

- Amount Owed to User

-Total Amount in Wallet

- Net Balance  ( Total - Owed)

ACCURACY IS NB :P

For example:

XCUR: Should show what is owed to our users in our platform as well as a separate figure that shows the Total Amount in the XCUR in the  wallet

This way we can see our Assets vs our Liabilities. For